{
  "openapi": "3.1.0",
  "info": {
    "title": "Bon_Log Mobile API",
    "version": "1.5.0",
    "description": "盆栽 SNS「Bon_Log」のモバイルアプリ向け API。\n\n## 認証フロー\n\n1. POST /api/v1/auth/login でトークンペアを取得\n2. API リクエストに Authorization: Bearer <accessToken> を付与\n3. 401 AUTH_TOKEN_EXPIRED を受け取ったら POST /api/v1/auth/refresh でペアを更新\n4. 401 AUTH_REFRESH_TOKEN_REUSE_DETECTED はセキュリティ警告画面を表示して再ログインを促す\n\n## レート制限\n\n429 レスポンスには Retry-After ヘッダー（秒）が付与される。自動リトライは禁止。"
  },
  "servers": [
    {
      "url": "https://www.bon-log.com",
      "description": "本番サーバー"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "アクセストークン（JWT HS256, TTL 15 分）。期限切れ時は /api/v1/auth/refresh でトークンペアを更新する。"
      }
    },
    "schemas": {
      "TokenPair": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "refreshToken": {
            "type": "string"
          },
          "expiresIn": {
            "type": "integer"
          }
        },
        "required": [
          "accessToken",
          "refreshToken",
          "expiresIn"
        ],
        "description": "アクセストークン + リフレッシュトークン + 有効期間（秒）のペア。"
      },
      "Requires2FAResponse": {
        "type": "object",
        "properties": {
          "requires2FA": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "ticket": {
            "type": "string"
          }
        },
        "required": [
          "requires2FA",
          "ticket"
        ],
        "description": "2FA が必要な場合の 202 レスポンス。ticket を /api/v1/auth/2fa/verify に渡す。"
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "success"
        ],
        "description": "処理成功を示す汎用レスポンス。"
      },
      "UsersMeResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "nickname": {
            "type": "string"
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "bio": {
            "type": [
              "string",
              "null"
            ]
          },
          "isPremium": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "email",
          "nickname",
          "avatarUrl",
          "bio",
          "isPremium"
        ],
        "description": "認証ユーザーの基本情報。"
      },
      "ApiErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "AUTH_REQUIRED",
                  "AUTH_INVALID_TOKEN",
                  "AUTH_TOKEN_EXPIRED",
                  "AUTH_INVALID_CREDENTIALS",
                  "AUTH_2FA_REQUIRED",
                  "AUTH_2FA_INVALID_CODE",
                  "AUTH_2FA_TICKET_EXPIRED",
                  "AUTH_REFRESH_TOKEN_INVALID",
                  "AUTH_REFRESH_TOKEN_REUSE_DETECTED",
                  "ACCOUNT_SUSPENDED",
                  "GUEST_NOT_ALLOWED",
                  "EMAIL_NOT_VERIFIED",
                  "VALIDATION_ERROR",
                  "RATE_LIMITED",
                  "NOT_FOUND",
                  "CONFLICT",
                  "INTERNAL_ERROR",
                  "SERVER_MISCONFIGURED"
                ]
              },
              "message": {
                "type": "string"
              },
              "status": {
                "type": "integer"
              }
            },
            "required": [
              "code",
              "message",
              "status"
            ]
          }
        },
        "required": [
          "error"
        ],
        "description": "全エンドポイント共通エラーレスポンス形式。"
      },
      "MobileApiErrorCode": {
        "type": "string",
        "enum": [
          "AUTH_REQUIRED",
          "AUTH_INVALID_TOKEN",
          "AUTH_TOKEN_EXPIRED",
          "AUTH_INVALID_CREDENTIALS",
          "AUTH_2FA_REQUIRED",
          "AUTH_2FA_INVALID_CODE",
          "AUTH_2FA_TICKET_EXPIRED",
          "AUTH_REFRESH_TOKEN_INVALID",
          "AUTH_REFRESH_TOKEN_REUSE_DETECTED",
          "ACCOUNT_SUSPENDED",
          "GUEST_NOT_ALLOWED",
          "EMAIL_NOT_VERIFIED",
          "VALIDATION_ERROR",
          "RATE_LIMITED",
          "NOT_FOUND",
          "CONFLICT",
          "INTERNAL_ERROR",
          "SERVER_MISCONFIGURED"
        ],
        "description": "エラーコード enum（18 値）。モバイル側はこの enum からコード→メッセージ対応表を導出できる。"
      },
      "LoginRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "maxLength": 100,
            "format": "email"
          },
          "password": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "email",
          "password"
        ],
        "description": "メール/パスワード認証のリクエスト。"
      },
      "Verify2FARequest": {
        "type": "object",
        "properties": {
          "ticket": {
            "type": "string",
            "minLength": 1
          },
          "code": {
            "type": "string",
            "minLength": 6
          }
        },
        "required": [
          "ticket",
          "code"
        ],
        "description": "2FA コード検証のリクエスト。"
      },
      "RefreshRequest": {
        "type": "object",
        "properties": {
          "refreshToken": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "refreshToken"
        ],
        "description": "トークンリフレッシュのリクエスト。"
      },
      "LogoutRequest": {
        "type": "object",
        "properties": {
          "refreshToken": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "refreshToken"
        ],
        "description": "ログアウトのリクエスト。"
      },
      "GoogleRequest": {
        "type": "object",
        "properties": {
          "idToken": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "idToken"
        ],
        "description": "Google ID トークン認証のリクエスト。"
      },
      "PasswordResetRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "maxLength": 100,
            "format": "email"
          }
        },
        "required": [
          "email"
        ],
        "description": "パスワードリセットメール送信のリクエスト。"
      },
      "PasswordResetConfirm": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "maxLength": 100,
            "format": "email"
          },
          "token": {
            "type": "string",
            "minLength": 10
          },
          "newPassword": {
            "type": "string",
            "minLength": 8,
            "maxLength": 72,
            "pattern": "[a-zA-Z]"
          }
        },
        "required": [
          "email",
          "token",
          "newPassword"
        ],
        "description": "パスワードリセット確定のリクエスト。"
      },
      "RegisterRequest": {
        "type": "object",
        "properties": {
          "nickname": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50
          },
          "email": {
            "type": "string",
            "maxLength": 100,
            "format": "email"
          },
          "password": {
            "type": "string",
            "minLength": 8,
            "maxLength": 72,
            "pattern": "[a-zA-Z]"
          },
          "termsAccepted": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "nickname",
          "email",
          "password",
          "termsAccepted"
        ],
        "description": "新規ユーザー登録のリクエスト。termsAccepted は true のみ受け付ける（利用規約同意の強制）。"
      },
      "ReadPaginationQuery": {
        "type": "object",
        "properties": {
          "cursor": {
            "type": "string",
            "minLength": 1,
            "maxLength": 30
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          }
        },
        "description": "カーソルベースページネーションのクエリパラメータ（cursor, limit）。"
      },
      "SearchQuery": {
        "type": "object",
        "properties": {
          "cursor": {
            "type": "string",
            "minLength": 1,
            "maxLength": 30
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          "q": {
            "type": "string",
            "maxLength": 100,
            "default": ""
          }
        },
        "description": "検索クエリパラメータ（q, cursor, limit）。"
      },
      "BlockResponse": {
        "type": "object",
        "properties": {
          "blocked": {
            "type": "boolean"
          }
        },
        "required": [
          "blocked"
        ],
        "description": "ブロック操作後の状態。POST→true / DELETE→false。冪等: 既ブロック/未ブロックでも 200。"
      },
      "MuteResponse": {
        "type": "object",
        "properties": {
          "muted": {
            "type": "boolean"
          }
        },
        "required": [
          "muted"
        ],
        "description": "ミュート操作後の状態。POST→true / DELETE→false。冪等: 既ミュート/未ミュートでも 200。"
      },
      "UserMinimalWithBio": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "nickname": {
            "type": "string"
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "bio": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "nickname",
          "avatarUrl",
          "bio"
        ],
        "description": "ブロック/ミュート一覧のユーザー項目（id, nickname, avatarUrl, bio）。"
      },
      "UserMinimalListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "nickname": {
                  "type": "string"
                },
                "avatarUrl": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "bio": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "id",
                "nickname",
                "avatarUrl",
                "bio"
              ]
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "items",
          "nextCursor"
        ],
        "description": "ブロック/ミュート一覧レスポンス。カーソルページネーション形式。"
      },
      "CreateReportRequest": {
        "type": "object",
        "properties": {
          "targetType": {
            "type": "string",
            "enum": [
              "post",
              "comment",
              "event",
              "shop",
              "review",
              "user"
            ]
          },
          "targetId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64
          },
          "reason": {
            "type": "string",
            "enum": [
              "spam",
              "inappropriate",
              "harassment",
              "copyright",
              "other"
            ]
          },
          "description": {
            "type": "string",
            "maxLength": 1000
          }
        },
        "required": [
          "targetType",
          "targetId",
          "reason"
        ],
        "description": "通報リクエスト。targetType と reason は enum 値のみ受け付ける。"
      },
      "LikeResponse": {
        "type": "object",
        "properties": {
          "liked": {
            "type": "boolean"
          },
          "likeCount": {
            "type": "integer"
          }
        },
        "required": [
          "liked",
          "likeCount"
        ],
        "description": "いいね操作後の最新状態。liked は操作後の状態、likeCount は操作後の総いいね数。"
      },
      "FollowResponse": {
        "type": "object",
        "properties": {
          "following": {
            "type": "boolean"
          },
          "requested": {
            "type": "boolean"
          },
          "followerCount": {
            "type": "integer"
          }
        },
        "required": [
          "following",
          "requested",
          "followerCount"
        ],
        "description": "フォロー操作後の統一レスポンス。following/requested は同時に true にならない。followerCount は操作後の実数。"
      },
      "NotificationReadRequest": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "既読化する通知 ID の配列。省略または空配列の場合は全未読を既読化する。最大 100 件。"
      },
      "NotificationReadResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "unreadCount": {
            "type": "integer"
          }
        },
        "required": [
          "success",
          "unreadCount"
        ],
        "description": "通知既読化後のレスポンス。unreadCount はミュートユーザーを除いた操作後の未読数。"
      },
      "MentionedUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "nickname": {
            "type": "string"
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "nickname",
          "avatarUrl"
        ],
        "description": "メンション解決済みユーザー情報。content 内の `<@userId>` トークンに対応する表示情報。"
      },
      "FeedResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "userId": {
                  "type": "string"
                },
                "user": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "nickname": {
                      "type": "string"
                    },
                    "avatarUrl": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "nickname",
                    "avatarUrl"
                  ]
                },
                "media": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "sortOrder": {
                        "type": "integer"
                      }
                    },
                    "required": [
                      "id",
                      "url",
                      "type",
                      "sortOrder"
                    ]
                  }
                },
                "genres": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "category": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "category"
                    ]
                  }
                },
                "likeCount": {
                  "type": "integer"
                },
                "commentCount": {
                  "type": "integer"
                },
                "repostCount": {
                  "type": "integer"
                },
                "isLiked": {
                  "type": "boolean"
                },
                "isBookmarked": {
                  "type": "boolean"
                },
                "isReposted": {
                  "type": "boolean"
                },
                "quotePost": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "nickname": {
                          "type": "string"
                        },
                        "avatarUrl": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "nickname",
                        "avatarUrl"
                      ]
                    },
                    "media": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "sortOrder": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "id",
                          "url",
                          "type",
                          "sortOrder"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "content",
                    "user"
                  ]
                },
                "repostPost": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "nickname": {
                          "type": "string"
                        },
                        "avatarUrl": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "nickname",
                        "avatarUrl"
                      ]
                    },
                    "media": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "sortOrder": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "id",
                          "url",
                          "type",
                          "sortOrder"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "content",
                    "user"
                  ]
                },
                "poll": {},
                "mentionedUsers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "nickname": {
                        "type": "string"
                      },
                      "avatarUrl": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "nickname",
                      "avatarUrl"
                    ]
                  }
                }
              },
              "required": [
                "id",
                "content",
                "createdAt",
                "updatedAt",
                "userId",
                "user",
                "media",
                "genres",
                "likeCount",
                "commentCount",
                "repostCount",
                "isLiked",
                "isBookmarked",
                "isReposted",
                "quotePost",
                "repostPost",
                "mentionedUsers"
              ]
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          },
          "isGuest": {
            "type": "boolean"
          }
        },
        "required": [
          "items",
          "nextCursor",
          "isGuest"
        ],
        "description": "タイムライン取得レスポンス。各投稿に mentionedUsers が含まれる。"
      },
      "PostResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "userId": {
            "type": "string"
          },
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "nickname": {
                "type": "string"
              },
              "avatarUrl": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "id",
              "nickname",
              "avatarUrl"
            ]
          },
          "media": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "sortOrder": {
                  "type": "integer"
                }
              },
              "required": [
                "id",
                "url",
                "type",
                "sortOrder"
              ]
            }
          },
          "genres": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "category": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "name",
                "category"
              ]
            }
          },
          "likeCount": {
            "type": "integer"
          },
          "commentCount": {
            "type": "integer"
          },
          "repostCount": {
            "type": "integer"
          },
          "isLiked": {
            "type": "boolean"
          },
          "isBookmarked": {
            "type": "boolean"
          },
          "isReposted": {
            "type": "boolean"
          },
          "quotePost": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "content": {
                "type": "string"
              },
              "user": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "nickname": {
                    "type": "string"
                  },
                  "avatarUrl": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "id",
                  "nickname",
                  "avatarUrl"
                ]
              },
              "media": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "sortOrder": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "id",
                    "url",
                    "type",
                    "sortOrder"
                  ]
                }
              }
            },
            "required": [
              "id",
              "content",
              "user"
            ]
          },
          "repostPost": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "content": {
                "type": "string"
              },
              "user": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "nickname": {
                    "type": "string"
                  },
                  "avatarUrl": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "id",
                  "nickname",
                  "avatarUrl"
                ]
              },
              "media": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "sortOrder": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "id",
                    "url",
                    "type",
                    "sortOrder"
                  ]
                }
              }
            },
            "required": [
              "id",
              "content",
              "user"
            ]
          },
          "poll": {},
          "mentionedUsers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "nickname": {
                  "type": "string"
                },
                "avatarUrl": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "id",
                "nickname",
                "avatarUrl"
              ]
            }
          }
        },
        "required": [
          "id",
          "content",
          "createdAt",
          "updatedAt",
          "userId",
          "user",
          "media",
          "genres",
          "likeCount",
          "commentCount",
          "repostCount",
          "isLiked",
          "isBookmarked",
          "isReposted",
          "quotePost",
          "repostPost",
          "mentionedUsers"
        ],
        "description": "単一投稿の詳細レスポンス。mentionedUsers が含まれる。"
      },
      "CommentsListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "postId": {
                  "type": "string"
                },
                "userId": {
                  "type": "string"
                },
                "parentId": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "content": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "isDeleted": {
                  "type": "boolean"
                },
                "isBlockedUser": {
                  "type": "boolean"
                },
                "likeCount": {
                  "type": "integer"
                },
                "replyCount": {
                  "type": "integer"
                },
                "isLiked": {
                  "type": "boolean"
                },
                "user": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "nickname": {
                      "type": "string"
                    },
                    "avatarUrl": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "nickname",
                    "avatarUrl"
                  ]
                },
                "media": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "sortOrder": {
                        "type": "integer"
                      }
                    },
                    "required": [
                      "id",
                      "url",
                      "type",
                      "sortOrder"
                    ]
                  }
                },
                "mentionedUsers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "nickname": {
                        "type": "string"
                      },
                      "avatarUrl": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "nickname",
                      "avatarUrl"
                    ]
                  }
                }
              },
              "required": [
                "id",
                "postId",
                "userId",
                "parentId",
                "content",
                "createdAt",
                "updatedAt",
                "isDeleted",
                "isBlockedUser",
                "likeCount",
                "replyCount",
                "isLiked",
                "user",
                "media",
                "mentionedUsers"
              ]
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "items",
          "nextCursor"
        ],
        "description": "コメント一覧取得レスポンス。"
      },
      "UserProfileResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "nickname": {
            "type": "string"
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "headerUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "bio": {
            "type": [
              "string",
              "null"
            ]
          },
          "location": {
            "type": [
              "string",
              "null"
            ]
          },
          "isPublic": {
            "type": "boolean"
          },
          "bonsaiStartYear": {
            "type": [
              "integer",
              "null"
            ]
          },
          "bonsaiStartMonth": {
            "type": [
              "integer",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "postsCount": {
            "type": "integer"
          },
          "followersCount": {
            "type": "integer"
          },
          "followingCount": {
            "type": "integer"
          },
          "following": {
            "type": "boolean"
          },
          "requested": {
            "type": "boolean"
          },
          "isSelf": {
            "type": "boolean"
          },
          "isBlocked": {
            "type": "boolean"
          },
          "isMuted": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "nickname",
          "avatarUrl",
          "headerUrl",
          "bio",
          "location",
          "isPublic",
          "bonsaiStartYear",
          "bonsaiStartMonth",
          "createdAt",
          "updatedAt",
          "postsCount",
          "followersCount",
          "followingCount",
          "following",
          "requested",
          "isSelf",
          "isBlocked",
          "isMuted"
        ],
        "description": "ユーザープロフィール取得レスポンス。"
      },
      "SearchPostsResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "userId": {
                  "type": "string"
                },
                "user": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "nickname": {
                      "type": "string"
                    },
                    "avatarUrl": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "nickname",
                    "avatarUrl"
                  ]
                },
                "media": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "sortOrder": {
                        "type": "integer"
                      }
                    },
                    "required": [
                      "id",
                      "url",
                      "type",
                      "sortOrder"
                    ]
                  }
                },
                "genres": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "category": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "category"
                    ]
                  }
                },
                "likeCount": {
                  "type": "integer"
                },
                "commentCount": {
                  "type": "integer"
                },
                "repostCount": {
                  "type": "integer"
                },
                "isLiked": {
                  "type": "boolean"
                },
                "isBookmarked": {
                  "type": "boolean"
                },
                "isReposted": {
                  "type": "boolean"
                },
                "quotePost": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "nickname": {
                          "type": "string"
                        },
                        "avatarUrl": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "nickname",
                        "avatarUrl"
                      ]
                    },
                    "media": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "sortOrder": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "id",
                          "url",
                          "type",
                          "sortOrder"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "content",
                    "user"
                  ]
                },
                "repostPost": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "nickname": {
                          "type": "string"
                        },
                        "avatarUrl": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "nickname",
                        "avatarUrl"
                      ]
                    },
                    "media": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "sortOrder": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "id",
                          "url",
                          "type",
                          "sortOrder"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "content",
                    "user"
                  ]
                },
                "poll": {},
                "mentionedUsers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "nickname": {
                        "type": "string"
                      },
                      "avatarUrl": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "nickname",
                      "avatarUrl"
                    ]
                  }
                }
              },
              "required": [
                "id",
                "content",
                "createdAt",
                "updatedAt",
                "userId",
                "user",
                "media",
                "genres",
                "likeCount",
                "commentCount",
                "repostCount",
                "isLiked",
                "isBookmarked",
                "isReposted",
                "quotePost",
                "repostPost",
                "mentionedUsers"
              ]
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "items",
          "nextCursor"
        ],
        "description": "投稿検索結果レスポンス。"
      },
      "SearchUsersResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "nickname": {
                  "type": "string"
                },
                "avatarUrl": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "bio": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "followersCount": {
                  "type": "integer"
                },
                "followingCount": {
                  "type": "integer"
                },
                "following": {
                  "type": "boolean"
                },
                "requested": {
                  "type": "boolean"
                },
                "isPublic": {
                  "type": "boolean"
                }
              },
              "required": [
                "id",
                "nickname",
                "avatarUrl",
                "bio",
                "followersCount",
                "followingCount",
                "following",
                "requested",
                "isPublic"
              ]
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "items",
          "nextCursor"
        ],
        "description": "ユーザー検索結果レスポンス。"
      },
      "NotificationsListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "isRead": {
                  "type": "boolean"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "actorId": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "postId": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "commentId": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "actor": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "nickname": {
                      "type": "string"
                    },
                    "avatarUrl": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "nickname",
                    "avatarUrl"
                  ]
                },
                "post": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "content"
                  ]
                },
                "comment": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "content"
                  ]
                }
              },
              "required": [
                "id",
                "type",
                "isRead",
                "createdAt",
                "actorId",
                "postId",
                "commentId",
                "actor",
                "post",
                "comment"
              ]
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "items",
          "nextCursor"
        ],
        "description": "通知一覧取得レスポンス。"
      },
      "UnreadCountResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          }
        },
        "required": [
          "count"
        ],
        "description": "未読通知件数レスポンス。"
      }
    },
    "parameters": {}
  },
  "paths": {
    "/api/v1/auth/login": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "メール/パスワードでログイン",
        "description": "パスワード照合後、2FA の有効/無効によってレスポンスが分岐する。\n\n- 2FA 無効: 200 + TokenPair\n- 2FA 有効: 202 + { requires2FA: true, ticket } — ticket は /api/v1/auth/2fa/verify に渡す\n  - チケット TTL: 300 秒（5 分）、単回使用（成功・失敗いずれの場合も消費）\n  - コード不正時もチケットが消費されるため /login からやり直すこと",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ログイン成功（2FA 無効）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenPair"
                }
              }
            }
          },
          "202": {
            "description": "2FA が必要。ticket を /api/v1/auth/2fa/verify に渡す",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Requires2FAResponse"
                }
              }
            }
          },
          "400": {
            "description": "バリデーションエラー (VALIDATION_ERROR)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "資格情報が不正 (AUTH_INVALID_CREDENTIALS)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "アカウント停止 (ACCOUNT_SUSPENDED) またはゲストアカウント不可 (GUEST_NOT_ALLOWED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "レート制限超過。Retry-After ヘッダー（秒）が返却される。自動リトライ禁止。",
            "headers": {
              "Retry-After": {
                "description": "次のリクエストまでの待機秒数",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "サーバー設定エラー (SERVER_MISCONFIGURED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/2fa/verify": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "2FA コードを検証してトークンペアを取得",
        "description": "/api/v1/auth/login の 202 で返却された ticket と TOTP コード（またはバックアップコード）を検証する。\n\n重要仕様:\n- チケットは成功・失敗いずれの場合も GETDEL でアトミックに消費される（単回使用）\n- コード不正の場合もチケットは消費済みになるため /api/v1/auth/login からやり直すこと\n- チケット TTL は 300 秒（5 分）",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Verify2FARequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "2FA 検証成功。TokenPair を返却",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenPair"
                }
              }
            }
          },
          "400": {
            "description": "バリデーションエラー (VALIDATION_ERROR)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "チケット期限切れ (AUTH_2FA_TICKET_EXPIRED) または コード不正 (AUTH_2FA_INVALID_CODE)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "アカウント停止 (ACCOUNT_SUSPENDED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "レート制限超過。Retry-After ヘッダー（秒）が返却される。自動リトライ禁止。",
            "headers": {
              "Retry-After": {
                "description": "次のリクエストまでの待機秒数",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "サーバー設定エラー (SERVER_MISCONFIGURED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/refresh": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "リフレッシュトークンでトークンペアを更新",
        "description": "ローテーション + 再利用検知方式:\n- 有効トークン提示 → 旧トークンを revoke し新ペアを発行（トランザクション）\n- revoked 済みトークン再提示 → 盗難とみなし当該ユーザーの全トークンを即時失効 (AUTH_REFRESH_TOKEN_REUSE_DETECTED)\n  - モバイルはこのコードで専用の「セキュリティ警告」画面を表示すること\n\nリフレッシュトークン TTL は 30 日。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "トークン更新成功。新しい TokenPair を返却",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenPair"
                }
              }
            }
          },
          "400": {
            "description": "バリデーションエラー (VALIDATION_ERROR)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "トークン無効/期限切れ (AUTH_REFRESH_TOKEN_INVALID) または 再利用検知 (AUTH_REFRESH_TOKEN_REUSE_DETECTED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "アカウント停止 (ACCOUNT_SUSPENDED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "レート制限超過。Retry-After ヘッダー（秒）が返却される。自動リトライ禁止。",
            "headers": {
              "Retry-After": {
                "description": "次のリクエストまでの待機秒数",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "サーバー設定エラー (SERVER_MISCONFIGURED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/logout": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "ログアウト（リフレッシュトークン失効）",
        "description": "冪等設計: トークンが存在しない・既に失効済みでも 200 を返す。\nネットワークエラー時のリトライを妨げない fail-safe ログアウトを実現する。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ログアウト成功（冪等）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "バリデーションエラー (VALIDATION_ERROR)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "レート制限超過。Retry-After ヘッダー（秒）が返却される。自動リトライ禁止。",
            "headers": {
              "Retry-After": {
                "description": "次のリクエストまでの待機秒数",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/google": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Google ID トークンでログイン",
        "description": "Google Sign-In で取得した ID トークンを検証し、TokenPair を発行する。\n\nユーザー解決フロー:\n1. Account(provider='google', providerAccountId=sub) を検索\n2. なければ email で User を検索し Account を作成してリンク\n3. User も存在しなければ新規作成",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Google 認証成功。TokenPair を返却",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenPair"
                }
              }
            }
          },
          "400": {
            "description": "バリデーションエラー (VALIDATION_ERROR)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "ID トークン不正 (AUTH_INVALID_TOKEN)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "アカウント停止 (ACCOUNT_SUSPENDED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "レート制限超過。Retry-After ヘッダー（秒）が返却される。自動リトライ禁止。",
            "headers": {
              "Retry-After": {
                "description": "次のリクエストまでの待機秒数",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "サーバー設定エラー (SERVER_MISCONFIGURED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/password-reset/request": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "パスワードリセットメールを送信",
        "description": "列挙攻撃対策: メールアドレスの存在有無に関わらず常に 200 を返す。\nバリデーションエラーも 200 を返す（この仕様は意図的）。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordResetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "リクエスト受付（メールアドレス存在有無に関わらず常に 200）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "429": {
            "description": "レート制限超過。Retry-After ヘッダー（秒）が返却される。自動リトライ禁止。",
            "headers": {
              "Retry-After": {
                "description": "次のリクエストまでの待機秒数",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/password-reset/confirm": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "パスワードリセットを確定",
        "description": "メールで受け取ったトークンと新しいパスワードを送信してリセットを確定する。\nトークン無効・ユーザー不在は一律 401 を返す（列挙攻撃防止）。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordResetConfirm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "パスワードリセット成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "バリデーションエラー (VALIDATION_ERROR)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "トークン無効または資格情報不正 (AUTH_INVALID_CREDENTIALS)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "レート制限超過。Retry-After ヘッダー（秒）が返却される。自動リトライ禁止。",
            "headers": {
              "Retry-After": {
                "description": "次のリクエストまでの待機秒数",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/register": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "新規ユーザー登録",
        "description": "ニックネーム・メールアドレス・パスワードで新規ユーザーを作成し、確認メールを送信する。\n\nフロー:\n1. バリデーション通過後、レート制限チェック（IP ベース）\n2. ユーザー作成 + メール確認トークン発行\n3. 確認メール送信（リンク有効期間: 24 時間）\n4. 201 { success: true } を返す\n\nモバイルはこのレスポンスを受け取ったら verify-email-sent 画面へ遷移し、\nユーザーに確認メールのリンクをクリックするよう促す。\n\n列挙攻撃方針: Web の登録フォームはメール重複を明示的にユーザーに返すため、\nAPI も一貫して 409 CONFLICT で同じ情報量を返す（片方だけ隠すと一貫性が失われる）。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "登録成功。確認メールを送信済み。モバイルは verify-email-sent 画面へ遷移すること",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "バリデーションエラー (VALIDATION_ERROR) — nickname/email/password の形式不正または termsAccepted が true でない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "メールアドレス重複 (CONFLICT)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "レート制限超過。Retry-After ヘッダー（秒）が返却される。自動リトライ禁止。",
            "headers": {
              "Retry-After": {
                "description": "次のリクエストまでの待機秒数",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部エラー — 確認メール送信失敗など (INTERNAL_ERROR)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "認証ユーザーの基本情報を取得",
        "description": "Authorization: Bearer <accessToken> ヘッダーで認証する。\n\nエラーフロー:\n- Bearer ヘッダー無し → 401 AUTH_REQUIRED\n- トークン期限切れ → 401 AUTH_TOKEN_EXPIRED（このコードでのみ /refresh を試みること）\n- トークン不正 → 401 AUTH_INVALID_TOKEN（リフレッシュ不可）",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "認証ユーザーの基本情報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsersMeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer トークンなし (AUTH_REQUIRED)、期限切れ (AUTH_TOKEN_EXPIRED)、不正 (AUTH_INVALID_TOKEN)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "アカウント停止 (ACCOUNT_SUSPENDED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "ユーザーが見つからない (NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "サーバー設定エラー (SERVER_MISCONFIGURED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/feed": {
      "get": {
        "tags": [
          "feed"
        ],
        "summary": "タイムライン取得",
        "description": "認証ユーザーのタイムライン（フォロー中ユーザーの投稿）をカーソルページネーションで返す。\n\nゲストユーザーの場合は公開投稿の直近 N 件のみ返し nextCursor は null になる。\n\nブロック・ミュート・停止済み著者の投稿は除外される。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "カーソル（前回レスポンスの nextCursor 値）"
            },
            "required": false,
            "description": "カーソル（前回レスポンスの nextCursor 値）",
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "description": "1 回の取得上限件数"
            },
            "required": false,
            "description": "1 回の取得上限件数",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "タイムライン取得成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedResponse"
                }
              }
            }
          },
          "400": {
            "description": "バリデーションエラー (VALIDATION_ERROR)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer トークンなし (AUTH_REQUIRED) または期限切れ (AUTH_TOKEN_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "アカウント停止 (ACCOUNT_SUSPENDED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "レート制限超過。Retry-After ヘッダー（秒）が返却される。自動リトライ禁止。",
            "headers": {
              "Retry-After": {
                "description": "次のリクエストまでの待機秒数",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/posts/{id}": {
      "get": {
        "tags": [
          "posts"
        ],
        "summary": "投稿詳細取得",
        "description": "指定 ID の投稿を取得する。\n\n非公開アカウントの投稿はフォロワーのみ閲覧可能。\nブロックされている場合は 404 を返す。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "投稿 ID"
            },
            "required": true,
            "description": "投稿 ID",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "投稿詳細",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer トークンなし (AUTH_REQUIRED) または期限切れ (AUTH_TOKEN_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "アカウント停止 (ACCOUNT_SUSPENDED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "投稿が存在しないか閲覧権限なし (NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "レート制限超過。Retry-After ヘッダー（秒）が返却される。自動リトライ禁止。",
            "headers": {
              "Retry-After": {
                "description": "次のリクエストまでの待機秒数",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/posts/{id}/comments": {
      "get": {
        "tags": [
          "posts"
        ],
        "summary": "コメント一覧取得",
        "description": "指定投稿のトップレベルコメント一覧をカーソルページネーションで返す。\n\nブロック済みユーザーのコメントは isBlockedUser: true として含まれる（非表示はクライアント側で判断）。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "投稿 ID"
            },
            "required": true,
            "description": "投稿 ID",
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "カーソル"
            },
            "required": false,
            "description": "カーソル",
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "description": "取得上限件数"
            },
            "required": false,
            "description": "取得上限件数",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "コメント一覧",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "バリデーションエラー (VALIDATION_ERROR)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer トークンなし (AUTH_REQUIRED) または期限切れ (AUTH_TOKEN_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "アカウント停止 (ACCOUNT_SUSPENDED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "投稿が存在しないか閲覧権限なし (NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "レート制限超過。Retry-After ヘッダー（秒）が返却される。自動リトライ禁止。",
            "headers": {
              "Retry-After": {
                "description": "次のリクエストまでの待機秒数",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/{id}": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "ユーザープロフィール取得",
        "description": "指定 ID のユーザープロフィールを返す。\n\nメールアドレスは返却しない。\n非公開アカウントはフォロワー以外には公開情報のみ返す（フォロワー数等は含む）。\nゲストアカウントは 404 として扱う。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "ユーザー ID"
            },
            "required": true,
            "description": "ユーザー ID",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "ユーザープロフィール",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfileResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer トークンなし (AUTH_REQUIRED) または期限切れ (AUTH_TOKEN_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "アカウント停止 (ACCOUNT_SUSPENDED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "ユーザーが存在しない (NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "レート制限超過。Retry-After ヘッダー（秒）が返却される。自動リトライ禁止。",
            "headers": {
              "Retry-After": {
                "description": "次のリクエストまでの待機秒数",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/search/posts": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "投稿検索",
        "description": "キーワードで投稿を全文検索する。\n\n2 文字以上: pg_bigm trigram 検索。1 文字: LIKE フォールバック。\nブロック・ミュート・非公開・停止ユーザーの投稿は除外される。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "検索キーワード"
            },
            "required": false,
            "description": "検索キーワード",
            "name": "q",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "カーソル"
            },
            "required": false,
            "description": "カーソル",
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "description": "取得上限件数"
            },
            "required": false,
            "description": "取得上限件数",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "投稿検索結果",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchPostsResponse"
                }
              }
            }
          },
          "400": {
            "description": "バリデーションエラー (VALIDATION_ERROR)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer トークンなし (AUTH_REQUIRED) または期限切れ (AUTH_TOKEN_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "アカウント停止 (ACCOUNT_SUSPENDED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "レート制限超過。Retry-After ヘッダー（秒）が返却される。自動リトライ禁止。",
            "headers": {
              "Retry-After": {
                "description": "次のリクエストまでの待機秒数",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/search/users": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "ユーザー検索",
        "description": "ニックネームでユーザーを検索する。\n\nブロック・ミュート・停止済みユーザーは除外される。\nゲストアカウントは結果に含まれない。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "検索キーワード"
            },
            "required": false,
            "description": "検索キーワード",
            "name": "q",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "カーソル"
            },
            "required": false,
            "description": "カーソル",
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "description": "取得上限件数"
            },
            "required": false,
            "description": "取得上限件数",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "ユーザー検索結果",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchUsersResponse"
                }
              }
            }
          },
          "400": {
            "description": "バリデーションエラー (VALIDATION_ERROR)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer トークンなし (AUTH_REQUIRED) または期限切れ (AUTH_TOKEN_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "アカウント停止 (ACCOUNT_SUSPENDED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "レート制限超過。Retry-After ヘッダー（秒）が返却される。自動リトライ禁止。",
            "headers": {
              "Retry-After": {
                "description": "次のリクエストまでの待機秒数",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/notifications": {
      "get": {
        "tags": [
          "notifications"
        ],
        "summary": "通知一覧取得",
        "description": "認証ユーザーの通知をカーソルページネーションで返す。\n\nゲストユーザーは利用不可（403 GUEST_NOT_ALLOWED）。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "カーソル"
            },
            "required": false,
            "description": "カーソル",
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "description": "取得上限件数"
            },
            "required": false,
            "description": "取得上限件数",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "通知一覧",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "バリデーションエラー (VALIDATION_ERROR)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer トークンなし (AUTH_REQUIRED) または期限切れ (AUTH_TOKEN_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "アカウント停止 (ACCOUNT_SUSPENDED) またはゲスト不可 (GUEST_NOT_ALLOWED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "レート制限超過。Retry-After ヘッダー（秒）が返却される。自動リトライ禁止。",
            "headers": {
              "Retry-After": {
                "description": "次のリクエストまでの待機秒数",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/posts/{id}/like": {
      "post": {
        "tags": [
          "posts"
        ],
        "summary": "投稿にいいねを付ける（冪等）",
        "description": "対象投稿にいいねを付与する。既にいいね済みでも 200 を返す（冪等設計）。\n\n重要仕様:\n- 不存在・非公開・非表示の投稿は 404 NOT_FOUND を返す\n- ゲストアカウントは 403 GUEST_NOT_ALLOWED\n- likeCount は操作後の最新値（楽観更新の確定値として使用できる）\n- 通知（like）は同一ユーザーへの重複通知を防ぐ重複排除が働く\n- レート制限: toggle_like（30/分）、超過時は 429 + Retry-After ヘッダー",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "投稿 ID"
            },
            "required": true,
            "description": "投稿 ID",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "いいね付与成功（既にいいね済みでも 200）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LikeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer トークンなし (AUTH_REQUIRED) または期限切れ (AUTH_TOKEN_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "アカウント停止 (ACCOUNT_SUSPENDED) またはゲスト不可 (GUEST_NOT_ALLOWED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "投稿が存在しないか閲覧権限なし (NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "レート制限超過。Retry-After ヘッダー（秒）が返却される。自動リトライ禁止。",
            "headers": {
              "Retry-After": {
                "description": "次のリクエストまでの待機秒数",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "posts"
        ],
        "summary": "投稿のいいねを解除する（冪等）",
        "description": "対象投稿のいいねを解除する。いいねしていなくても 200 を返す（冪等設計）。\n\n重要仕様:\n- 不存在・非公開・非表示の投稿は 404 NOT_FOUND を返す\n- ゲストアカウントは 403 GUEST_NOT_ALLOWED\n- likeCount は操作後の最新値\n- レート制限: toggle_like（30/分）、超過時は 429 + Retry-After ヘッダー",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "投稿 ID"
            },
            "required": true,
            "description": "投稿 ID",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "いいね解除成功（いいねしていなくても 200）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LikeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer トークンなし (AUTH_REQUIRED) または期限切れ (AUTH_TOKEN_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "アカウント停止 (ACCOUNT_SUSPENDED) またはゲスト不可 (GUEST_NOT_ALLOWED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "投稿が存在しないか閲覧権限なし (NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "レート制限超過。Retry-After ヘッダー（秒）が返却される。自動リトライ禁止。",
            "headers": {
              "Retry-After": {
                "description": "次のリクエストまでの待機秒数",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/{id}/follow": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "ユーザーをフォロー（公開: フォロー確立 / 非公開: リクエスト送信）",
        "description": "対象ユーザーの公開設定に応じてフォローまたはフォローリクエストを送信する。\n\n重要仕様:\n- 公開アカウント → フォロー確立（冪等: 既にフォロー済みでも 200）→ { following:true, requested:false }\n- 非公開アカウント → フォローリクエスト送信（冪等: 既に送信済みでも 200）→ { following:false, requested:true }\n- HTTP は 200 に統一（202 は使用しない）\n- 自分自身へのフォローは 400 VALIDATION_ERROR\n- ブロック関係・存在しない・停止済みユーザーは 404 NOT_FOUND（ブロック有無を秘匿）\n- followerCount は操作後の実数\n- レート制限: engagement（30/分）",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "フォロー対象ユーザー ID"
            },
            "required": true,
            "description": "フォロー対象ユーザー ID",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "フォロー確立またはリクエスト送信成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FollowResponse"
                }
              }
            }
          },
          "400": {
            "description": "自己フォロー (VALIDATION_ERROR)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer トークンなし (AUTH_REQUIRED) または期限切れ (AUTH_TOKEN_EXPIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "アカウント停止 (ACCOUNT_SUSPENDED) またはゲスト不可 (GUEST_NOT_ALLOWED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "ユーザーが存在しないか閲覧権限なし (NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
[...]
