{
  "openapi": "3.1.0",
  "info": {
    "title": "Bon_Log Mobile API",
    "version": "1.14.0",
    "description": "盆栽 SNS「Bon_Log」のモバイルアプリ向け API。\n\n## 認証フロー\n\n1. POST /api/v1/auth/login でトークンペアを取得\n2. API リクエストに Authorization: Bearer <accessToken> を付与\n3. 401 AUTH_TOKEN_EXPIRED を受け取ったら POST /api/v1/auth/refresh でペアを更新\n4. 401 AUTH_REFRESH_TOKEN_REUSE_DETECTED はセキュリティ警告画面を表示して再ログインを促す\n\n## レート制限\n\n429 レスポンスには Retry-After ヘッダー（秒）が付与される。自動リトライは禁止。"
  },
  "servers": [
    {
      "url": "https://www.bon-log.com",
      "description": "本番サーバー"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "アクセストークン（JWT HS256, TTL 15 分）。期限切れ時は /api/v1/auth/refresh でトークンペアを更新する。"
      }
    },
    "schemas": {
      "TokenPair": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "refreshToken": {
            "type": "string"
          },
          "expiresIn": {
            "type": "integer"
          }
        },
        "required": [
          "accessToken",
          "refreshToken",
          "expiresIn"
        ],
        "description": "アクセストークン + リフレッシュトークン + 有効期間（秒）のペア。"
      },
      "Requires2FAResponse": {
        "type": "object",
        "properties": {
          "requires2FA": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "ticket": {
            "type": "string"
          }
        },
        "required": [
          "requires2FA",
          "ticket"
        ],
        "description": "2FA が必要な場合の 202 レスポンス。ticket を /api/v1/auth/2fa/verify に渡す。"
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "success"
        ],
        "description": "処理成功を示す汎用レスポンス。"
      },
      "UsersMeResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "nickname": {
            "type": "string"
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "bio": {
            "type": [
              "string",
              "null"
            ]
          },
          "isPremium": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "email",
          "nickname",
          "avatarUrl",
          "bio",
          "isPremium"
        ],
        "description": "認証ユーザーの基本情報。"
      },
      "UsersMeFullResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "nickname": {
            "type": "string"
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "headerUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "bio": {
            "type": [
              "string",
              "null"
            ]
          },
          "location": {
            "type": [
              "string",
              "null"
            ]
          },
          "isPublic": {
            "type": "boolean"
          },
          "bonsaiStartYear": {
            "type": [
              "integer",
              "null"
            ]
          },
          "bonsaiStartMonth": {
            "type": [
              "integer",
              "null"
            ]
          },
          "birthDate": {
            "type": [
              "string",
              "null"
            ]
          },
          "isPremium": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "email",
          "nickname",
          "avatarUrl",
          "headerUrl",
          "bio",
          "location",
          "isPublic",
          "bonsaiStartYear",
          "bonsaiStartMonth",
          "birthDate",
          "isPremium"
        ],
        "description": "PATCH /api/v1/users/me 成功時の更新後プロフィール全フィールド。"
      },
      "UpdateProfileRequest": {
        "type": "object",
        "properties": {
          "nickname": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50
          },
          "bio": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 200
          },
          "location": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "bonsaiStartYear": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 1900,
            "maximum": 2026
          },
          "bonsaiStartMonth": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 1,
            "maximum": 12
          },
          "birthDate": {
            "type": [
              "string",
              "null"
            ]
          },
          "isPublic": {
            "type": "boolean"
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "headerUrl": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          }
        },
        "description": "プロフィール部分更新リクエスト。すべてのフィールドが optional。\n省略したフィールドは現在値を維持する。\navatarUrl / headerUrl は POST /api/v1/upload/image で取得した自社ストレージ URL を渡すこと（外部 URL は 400 VALIDATION_ERROR）。\nnickname は改行・< > を含めない。予約済みは 400 VALIDATION_ERROR。"
      },
      "ApiErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "AUTH_REQUIRED",
                  "AUTH_INVALID_TOKEN",
                  "AUTH_TOKEN_EXPIRED",
                  "AUTH_INVALID_CREDENTIALS",
                  "AUTH_2FA_REQUIRED",
                  "AUTH_2FA_INVALID_CODE",
                  "AUTH_2FA_TICKET_EXPIRED",
                  "AUTH_REFRESH_TOKEN_INVALID",
                  "AUTH_REFRESH_TOKEN_REUSE_DETECTED",
                  "ACCOUNT_SUSPENDED",
                  "GUEST_NOT_ALLOWED",
                  "EMAIL_NOT_VERIFIED",
                  "VALIDATION_ERROR",
                  "RATE_LIMITED",
                  "NOT_FOUND",
                  "CONFLICT",
                  "INTERNAL_ERROR",
                  "SERVER_MISCONFIGURED",
                  "PREMIUM_REQUIRED"
                ]
              },
              "message": {
                "type": "string"
              },
              "status": {
                "type": "integer"
              }
            },
            "required": [
              "code",
              "message",
              "status"
            ]
          }
        },
        "required": [
          "error"
        ],
        "description": "全エンドポイント共通エラーレスポンス形式。"
      },
      "MobileApiErrorCode": {
        "type": "string",
        "enum": [
          "AUTH_REQUIRED",
          "AUTH_INVALID_TOKEN",
          "AUTH_TOKEN_EXPIRED",
          "AUTH_INVALID_CREDENTIALS",
          "AUTH_2FA_REQUIRED",
          "AUTH_2FA_INVALID_CODE",
          "AUTH_2FA_TICKET_EXPIRED",
          "AUTH_REFRESH_TOKEN_INVALID",
          "AUTH_REFRESH_TOKEN_REUSE_DETECTED",
          "ACCOUNT_SUSPENDED",
          "GUEST_NOT_ALLOWED",
          "EMAIL_NOT_VERIFIED",
          "VALIDATION_ERROR",
          "RATE_LIMITED",
          "NOT_FOUND",
          "CONFLICT",
          "INTERNAL_ERROR",
          "SERVER_MISCONFIGURED",
          "PREMIUM_REQUIRED"
        ],
        "description": "エラーコード enum（18 値）。モバイル側はこの enum からコード→メッセージ対応表を導出できる。"
      },
      "LoginRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "maxLength": 100,
            "format": "email"
          },
          "password": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "email",
          "password"
        ],
        "description": "メール/パスワード認証のリクエスト。"
      },
      "Verify2FARequest": {
        "type": "object",
        "properties": {
          "ticket": {
            "type": "string",
            "minLength": 1
          },
          "code": {
            "type": "string",
            "minLength": 6
          }
        },
        "required": [
          "ticket",
          "code"
        ],
        "description": "2FA コード検証のリクエスト。"
      },
      "RefreshRequest": {
        "type": "object",
        "properties": {
          "refreshToken": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "refreshToken"
        ],
        "description": "トークンリフレッシュのリクエスト。"
      },
      "LogoutRequest": {
        "type": "object",
        "properties": {
          "refreshToken": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "refreshToken"
        ],
        "description": "ログアウトのリクエスト。"
      },
      "GoogleRequest": {
        "type": "object",
        "properties": {
          "idToken": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "idToken"
        ],
        "description": "Google ID トークン認証のリクエスト。"
      },
      "PasswordResetRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "maxLength": 100,
            "format": "email"
          }
        },
        "required": [
          "email"
        ],
        "description": "パスワードリセットメール送信のリクエスト。"
      },
      "PasswordResetConfirm": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "maxLength": 100,
            "format": "email"
          },
          "token": {
            "type": "string",
            "minLength": 10
          },
          "newPassword": {
            "type": "string",
            "minLength": 8,
            "maxLength": 72,
            "pattern": "[a-zA-Z]"
          }
        },
        "required": [
          "email",
          "token",
          "newPassword"
        ],
        "description": "パスワードリセット確定のリクエスト。"
      },
      "RegisterRequest": {
        "type": "object",
        "properties": {
          "nickname": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50
          },
          "email": {
            "type": "string",
            "maxLength": 100,
            "format": "email"
          },
          "password": {
            "type": "string",
            "minLength": 8,
            "maxLength": 72,
            "pattern": "[a-zA-Z]"
          },
          "termsAccepted": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "nickname",
          "email",
          "password",
          "termsAccepted"
        ],
        "description": "新規ユーザー登録のリクエスト。termsAccepted は true のみ受け付ける（利用規約同意の強制）。"
      },
      "ReadPaginationQuery": {
        "type": "object",
        "properties": {
          "cursor": {
            "type": "string",
            "minLength": 1,
            "maxLength": 30
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          }
        },
        "description": "カーソルベースページネーションのクエリパラメータ（cursor, limit）。"
      },
      "SearchQuery": {
        "type": "object",
        "properties": {
          "cursor": {
            "type": "string",
            "minLength": 1,
            "maxLength": 30
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          "q": {
            "type": "string",
            "maxLength": 100,
            "default": ""
          }
        },
        "description": "検索クエリパラメータ（q, cursor, limit）。"
      },
      "BlockResponse": {
        "type": "object",
        "properties": {
          "blocked": {
            "type": "boolean"
          }
        },
        "required": [
          "blocked"
        ],
        "description": "ブロック操作後の状態。POST→true / DELETE→false。冪等: 既ブロック/未ブロックでも 200。"
      },
      "MuteResponse": {
        "type": "object",
        "properties": {
          "muted": {
            "type": "boolean"
          }
        },
        "required": [
          "muted"
        ],
        "description": "ミュート操作後の状態。POST→true / DELETE→false。冪等: 既ミュート/未ミュートでも 200。"
      },
      "UserMinimalWithBio": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "nickname": {
            "type": "string"
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "bio": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "nickname",
          "avatarUrl",
          "bio"
        ],
        "description": "ブロック/ミュート一覧のユーザー項目（id, nickname, avatarUrl, bio）。"
      },
      "UserMinimalListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "nickname": {
                  "type": "string"
                },
                "avatarUrl": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "bio": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "id",
                "nickname",
                "avatarUrl",
                "bio"
              ]
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "items",
          "nextCursor"
        ],
        "description": "ブロック/ミュート一覧レスポンス。カーソルページネーション形式。"
      },
      "CreateReportRequest": {
        "type": "object",
        "properties": {
          "targetType": {
            "type": "string",
            "enum": [
              "post",
              "comment",
              "event",
              "shop",
              "review",
              "user"
            ]
          },
          "targetId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64
          },
          "reason": {
            "type": "string",
            "enum": [
              "spam",
              "inappropriate",
              "harassment",
              "copyright",
              "other"
            ]
          },
          "description": {
            "type": "string",
            "maxLength": 1000
          }
        },
        "required": [
          "targetType",
          "targetId",
          "reason"
        ],
        "description": "通報リクエスト。targetType と reason は enum 値のみ受け付ける。"
      },
      "LikeResponse": {
        "type": "object",
        "properties": {
          "liked": {
            "type": "boolean"
          },
          "likeCount": {
            "type": "integer"
          }
        },
        "required": [
          "liked",
          "likeCount"
        ],
        "description": "いいね操作後の最新状態。liked は操作後の状態、likeCount は操作後の総いいね数。"
      },
      "FollowResponse": {
        "type": "object",
        "properties": {
          "following": {
            "type": "boolean"
          },
          "requested": {
            "type": "boolean"
          },
          "followerCount": {
            "type": "integer"
          }
        },
        "required": [
          "following",
          "requested",
          "followerCount"
        ],
        "description": "フォロー操作後の統一レスポンス。following/requested は同時に true にならない。followerCount は操作後の実数。"
      },
      "NotificationReadRequest": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "既読化する通知 ID の配列。省略または空配列の場合は全未読を既読化する。最大 100 件。"
      },
      "CreatePostRequest": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "default": ""
          },
          "genreIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 3,
            "default": []
          },
          "mediaUrls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": []
          },
          "mediaTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "image",
                "video"
              ]
            },
            "default": []
          }
        },
        "description": "投稿作成リクエスト。content / mediaUrls のどちらか一方は必須。\ngenreIds は最大 3 つ。mediaUrls と mediaTypes は同数で対応させること。\nbonsai 紐付け・アンケートはモバイル MVP 外（将来別途追加）。"
      },
      "UpdatePostRequest": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "default": ""
          },
          "genreIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 3,
            "default": []
          },
          "mediaUrls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": []
          },
          "mediaTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "image",
                "video"
              ]
            },
            "default": []
          }
        },
        "description": "投稿編集リクエスト（所有者のみ）。ジャンル・メディアは差し替え方式。\n純粋リポストは編集不可（400 VALIDATION_ERROR）。\n1 日投稿上限は消費しない。editedAt が更新される。"
      },
      "CreateCommentRequest": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "maxLength": 500,
            "default": ""
          },
          "parentId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1
          },
          "mediaUrls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": []
          },
          "mediaTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "image",
                "video"
              ]
            },
            "default": []
          }
        },
        "description": "コメント作成リクエスト。content / mediaUrls のどちらか一方は必須。\nparentId を指定すると返信コメントになる（スレッド参加者全員へ reply 通知）。\n本文最大 500 文字。画像最大 2 枚。動画はプレミアム会員のみ 1 本。"
      },
      "CommentResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "postId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "parentId": {
            "type": [
              "string",
              "null"
            ]
          },
          "content": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "isDeleted": {
            "type": "boolean"
          },
          "isBlockedUser": {
            "type": "boolean"
          },
          "likeCount": {
            "type": "integer"
          },
          "replyCount": {
            "type": "integer"
          },
          "isLiked": {
            "type": "boolean"
          },
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "nickname": {
                "type": "string"
              },
              "avatarUrl": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "isBlocked": {
                "type": "boolean"
              },
              "isMuted": {
                "type": "boolean"
              }
            },
            "required": [
              "id",
              "nickname",
              "avatarUrl",
              "isBlocked",
              "isMuted"
            ]
          },
          "media": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "sortOrder": {
                  "type": "integer"
                }
              },
              "required": [
                "id",
                "url",
                "type",
                "sortOrder"
              ]
            }
          },
          "mentionedUsers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "nickname": {
                  "type": "string"
                },
                "avatarUrl": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "id",
                "nickname",
                "avatarUrl"
              ]
            }
          }
        },
        "required": [
          "id",
          "postId",
          "userId",
          "parentId",
          "content",
          "createdAt",
          "updatedAt",
          "isDeleted",
          "isBlockedUser",
          "likeCount",
          "replyCount",
          "isLiked",
          "user",
          "media",
          "mentionedUsers"
        ],
        "description": "単一コメントのレスポンス（作成時に返却）。"
      },
      "NotificationReadResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "unreadCount": {
            "type": "integer"
          }
        },
        "required": [
          "success",
          "unreadCount"
        ],
        "description": "通知既読化後のレスポンス。unreadCount はミュートユーザーを除いた操作後の未読数。"
      },
      "MentionedUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "nickname": {
            "type": "string"
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "nickname",
          "avatarUrl"
        ],
        "description": "メンション解決済みユーザー情報。content 内の `<@userId>` トークンに対応する表示情報。"
      },
      "PostAuthorWithState": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "nickname": {
            "type": "string"
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "isBlocked": {
            "type": "boolean"
          },
          "isMuted": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "nickname",
          "avatarUrl",
          "isBlocked",
          "isMuted"
        ],
        "description": "トップレベル投稿者・コメント投稿者の情報（閲覧者視点の Block/Mute 状態付き）。quotePost / repostPost のネスト著者には適用されない。isBlocked/isMuted はゲスト・未ブロック・未ミュートの場合は false。"
      },
      "FeedResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "userId": {
                  "type": "string"
                },
                "user": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "nickname": {
                      "type": "string"
                    },
                    "avatarUrl": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "isBlocked": {
                      "type": "boolean"
                    },
                    "isMuted": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "nickname",
                    "avatarUrl",
                    "isBlocked",
                    "isMuted"
                  ]
                },
                "media": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "sortOrder": {
                        "type": "integer"
                      }
                    },
                    "required": [
                      "id",
                      "url",
                      "type",
                      "sortOrder"
                    ]
                  }
                },
                "genres": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "category": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "category"
                    ]
                  }
                },
                "likeCount": {
                  "type": "integer"
                },
                "commentCount": {
                  "type": "integer"
                },
                "repostCount": {
                  "type": "integer"
                },
                "isLiked": {
                  "type": "boolean"
                },
                "isBookmarked": {
                  "type": "boolean"
                },
                "isReposted": {
                  "type": "boolean"
                },
                "quotePost": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "nickname": {
                          "type": "string"
                        },
                        "avatarUrl": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "nickname",
                        "avatarUrl"
                      ]
                    },
                    "media": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "sortOrder": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "id",
                          "url",
                          "type",
                          "sortOrder"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "content",
                    "user"
                  ]
                },
                "repostPost": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "nickname": {
                          "type": "string"
                        },
                        "avatarUrl": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "nickname",
                        "avatarUrl"
                      ]
                    },
                    "media": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "sortOrder": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "id",
                          "url",
                          "type",
                          "sortOrder"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "content",
                    "user"
                  ]
                },
                "poll": {},
                "mentionedUsers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "nickname": {
                        "type": "string"
                      },
                      "avatarUrl": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "nickname",
                      "avatarUrl"
                    ]
                  }
                }
              },
              "required": [
                "id",
                "content",
                "createdAt",
                "updatedAt",
                "userId",
                "user",
                "media",
                "genres",
                "likeCount",
                "commentCount",
                "repostCount",
                "isLiked",
                "isBookmarked",
                "isReposted",
                "quotePost",
                "repostPost",
                "mentionedUsers"
              ]
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          },
          "isGuest": {
            "type": "boolean"
          }
        },
        "required": [
          "items",
          "nextCursor",
          "isGuest"
        ],
        "description": "タイムライン取得レスポンス。各投稿に mentionedUsers が含まれる。"
      },
      "PostResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "userId": {
            "type": "string"
          },
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "nickname": {
                "type": "string"
              },
              "avatarUrl": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "isBlocked": {
                "type": "boolean"
              },
              "isMuted": {
                "type": "boolean"
              }
            },
            "required": [
              "id",
              "nickname",
              "avatarUrl",
              "isBlocked",
              "isMuted"
            ]
          },
          "media": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "sortOrder": {
                  "type": "integer"
                }
              },
              "required": [
                "id",
                "url",
                "type",
                "sortOrder"
              ]
            }
          },
          "genres": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "category": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "name",
                "category"
              ]
            }
          },
          "likeCount": {
            "type": "integer"
          },
          "commentCount": {
            "type": "integer"
          },
          "repostCount": {
            "type": "integer"
          },
          "isLiked": {
            "type": "boolean"
          },
          "isBookmarked": {
            "type": "boolean"
          },
          "isReposted": {
            "type": "boolean"
          },
          "quotePost": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "content": {
                "type": "string"
              },
              "user": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "nickname": {
                    "type": "string"
                  },
                  "avatarUrl": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "id",
                  "nickname",
                  "avatarUrl"
                ]
              },
              "media": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "sortOrder": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "id",
                    "url",
                    "type",
                    "sortOrder"
                  ]
                }
              }
            },
            "required": [
              "id",
              "content",
              "user"
            ]
          },
          "repostPost": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "content": {
                "type": "string"
              },
              "user": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "nickname": {
                    "type": "string"
                  },
                  "avatarUrl": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "id",
                  "nickname",
                  "avatarUrl"
                ]
              },
              "media": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "sortOrder": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "id",
                    "url",
                    "type",
                    "sortOrder"
                  ]
                }
              }
            },
            "required": [
              "id",
              "content",
              "user"
            ]
          },
          "poll": {},
          "mentionedUsers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "nickname": {
                  "type": "string"
                },
                "avatarUrl": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "id",
                "nickname",
                "avatarUrl"
              ]
            }
          }
        },
        "required": [
          "id",
          "content",
          "createdAt",
          "updatedAt",
          "userId",
          "user",
          "media",
          "genres",
          "likeCount",
          "commentCount",
          "repostCount",
          "isLiked",
          "isBookmarked",
          "isReposted",
          "quotePost",
          "repostPost",
          "mentionedUsers"
        ],
        "description": "単一投稿の詳細レスポンス。mentionedUsers が含まれる。"
      },
      "CommentsListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "postId": {
                  "type": "string"
                },
                "userId": {
                  "type": "string"
                },
                "parentId": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "content": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "isDeleted": {
                  "type": "boolean"
                },
                "isBlockedUser": {
                  "type": "boolean"
                },
                "likeCount": {
                  "type": "integer"
                },
                "replyCount": {
                  "type": "integer"
                },
                "isLiked": {
                  "type": "boolean"
                },
                "user": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "nickname": {
                      "type": "string"
                    },
                    "avatarUrl": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "isBlocked": {
                      "type": "boolean"
                    },
                    "isMuted": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "nickname",
                    "avatarUrl",
                    "isBlocked",
                    "isMuted"
                  ]
                },
                "media": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "sortOrder": {
                        "type": "integer"
                      }
                    },
                    "required": [
                      "id",
                      "url",
                      "type",
                      "sortOrder"
                    ]
                  }
                },
                "mentionedUsers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "nickname": {
                        "type": "string"
                      },
                      "avatarUrl": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "nickname",
                      "avatarUrl"
                    ]
                  }
                }
              },
              "required": [
                "id",
                "postId",
                "userId",
                "parentId",
                "content",
                "createdAt",
                "updatedAt",
                "isDeleted",
                "isBlockedUser",
                "likeCount",
                "replyCount",
                "isLiked",
                "user",
                "media",
                "mentionedUsers"
              ]
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "items",
          "nextCursor"
        ],
        "description": "コメント一覧取得レスポンス。"
      },
      "UserProfileResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "nickname": {
            "type": "string"
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "headerUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "bio": {
            "type": [
              "string",
              "null"
            ]
          },
          "location": {
            "type": [
              "string",
              "null"
            ]
          },
          "isPublic": {
            "type": "boolean"
          },
          "bonsaiStartYear": {
            "type": [
              "integer",
              "null"
            ]
          },
          "bonsaiStartMonth": {
            "type": [
              "integer",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "postsCount": {
            "type": "integer"
          },
          "followersCount": {
            "type": "integer"
          },
          "followingCount": {
            "type": "integer"
          },
          "following": {
            "type": "boolean"
          },
          "requested": {
            "type": "boolean"
          },
          "isSelf": {
            "type": "boolean"
          },
          "isBlocked": {
            "type": "boolean"
          },
          "isMuted": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "nickname",
          "avatarUrl",
          "headerUrl",
          "bio",
          "location",
          "isPublic",
          "bonsaiStartYear",
          "bonsaiStartMonth",
          "createdAt",
          "updatedAt",
          "postsCount",
          "followersCount",
          "followingCount",
          "following",
          "requested",
          "isSelf",
          "isBlocked",
          "isMuted"
        ],
        "description": "ユーザープロフィール取得レスポンス。"
      },
      "SearchPostsResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "userId": {
                  "type": "string"
                },
                "user": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "nickname": {
                      "type": "string"
                    },
                    "avatarUrl": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "isBlocked": {
                      "type": "boolean"
                    },
                    "isMuted": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "nickname",
                    "avatarUrl",
                    "isBlocked",
                    "isMuted"
                  ]
                },
                "media": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "sortOrder": {
                        "type": "integer"
                      }
                    },
                    "required": [
                      "id",
                      "url",
                      "type",
                      "sortOrder"
                    ]
                  }
                },
                "genres": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "category": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "category"
                    ]
                  }
                },
                "likeCount": {
                  "type": "integer"
                },
                "commentCount": {
                  "type": "integer"
                },
                "repostCount": {
                  "type": "integer"
                },
                "isLiked": {
                  "type": "boolean"
                },
                "isBookmarked": {
                  "type": "boolean"
                },
                "isReposted": {
                  "type": "boolean"
                },
                "quotePost": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "nickname": {
                          "type": "string"
                        },
                        "avatarUrl": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "nickname",
                        "avatarUrl"
                      ]
                    },
                    "media": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "sortOrder": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "id",
                          "url",
                          "type",
                          "sortOrder"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "content",
                    "user"
                  ]
                },
                "repostPost": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "nickname": {
                          "type": "string"
                        },
                        "avatarUrl": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "nickname",
                        "avatarUrl"
                      ]
                    },
                    "media": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "sortOrder": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "id",
                          "url",
                          "type",
                          "sortOrder"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "content",
                    "user"
                  ]
                },
                "poll": {},
                "mentionedUsers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "nickname": {
                        "type": "string"
                      },
                      "avatarUrl": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "nickname",
                      "avatarUrl"
                    ]
                  }
                }
              },
              "required": [
                "id",
                "content",
                "createdAt",
                "updatedAt",
                "userId",
                "user",
                "media",
                "genres",
                "likeCount",
                "commentCount",
                "repostCount",
                "isLiked",
                "isBookmarked",
                "isReposted",
                "quotePost",
                "repostPost",
                "mentionedUsers"
              ]
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "items",
          "nextCursor"
        ],
        "description": "投稿検索結果レスポンス。"
      },
      "SearchUsersResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "nickname": {
                  "type": "string"
                },
                "avatarUrl": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "bio": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "followersCount": {
                  "type": "integer"
                },
                "followingCount": {
                  "type": "integer"
                },
                "following": {
                  "type": "boolean"
                },
                "requested": {
                  "type": "boolean"
                },
                "isPublic": {
                  "type": "boolean"
                }
              },
              "required": [
                "id",
                "nickname",
                "avatarUrl",
                "bio",
                "followersCount",
                "followingCount",
                "following",
                "requested",
                "isPublic"
              ]
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "items",
          "nextCursor"
        ],
        "description": "ユーザー検索結果レスポンス。"
      },
      "NotificationsListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "isRead": {
                  "type": "boolean"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "actorId": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "postId": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "commentId": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "actor": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "nickname": {
                      "type": "string"
                    },
                    "avatarUrl": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "nickname",
                    "avatarUrl"
                  ]
                },
                "post": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "content"
                  ]
                },
                "comment": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "content"
                  ]
                }
              },
              "required": [
                "id",
                "type",
                "isRead",
                "createdAt",
                "actorId",
                "postId",
                "commentId",
                "actor",
                "post",
                "comment"
              ]
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "items",
          "nextCursor"
        ],
        "description": "通知一覧取得レスポンス。"
      },
      "UnreadCountResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          }
        },
        "required": [
          "count"
        ],
        "description": "未読通知件数レスポンス。"
      },
      "BookmarkResponse": {
        "type": "object",
        "properties": {
          "bookmarked": {
            "type": "boolean"
          }
        },
        "required": [
          "bookmarked"
        ],
        "description": "ブックマーク操作後の状態。POST→true / DELETE→false。冪等: 既ブックマーク/未ブックマークでも 200。"
      },
      "BookmarksListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "userId": {
                  "type": "string"
                },
                "user": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "nickname": {
                      "type": "string"
                    },
                    "avatarUrl": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "isBlocked": {
                      "type": "boolean"
                    },
                    "isMuted": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "nickname",
                    "avatarUrl",
                    "isBlocked",
                    "isMuted"
                  ]
                },
                "media": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "sortOrder": {
                        "type": "integer"
                      }
                    },
                    "required": [
                      "id",
                      "url",
                      "type",
                      "sortOrder"
                    ]
                  }
                },
                "genres": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "category": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "category"
                    ]
                  }
                },
                "likeCount": {
                  "type": "integer"
                },
                "commentCount": {
                  "type": "integer"
                },
                "repostCount": {
                  "type": "integer"
                },
                "isLiked": {
                  "type": "boolean"
                },
                "isBookmarked": {
                  "type": "boolean"
                },
                "isReposted": {
                  "type": "boolean"
                },
                "quotePost": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "nickname": {
                          "type": "string"
                        },
                        "avatarUrl": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "nickname",
                        "avatarUrl"
                      ]
                    },
                    "media": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "sortOrder": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "id",
                          "url",
                          "type",
                          "sortOrder"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "content",
                    "user"
                  ]
                },
                "repostPost": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "nickname": {
                          "type": "string"
                        },
                        "avatarUrl": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "nickname",
                        "avatarUrl"
                      ]
                    },
                    "media": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "sortOrder": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "id",
                          "url",
                          "type",
                          "sortOrder"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "content",
                    "user"
                  ]
                },
                "poll": {},
                "mentionedUsers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "nickname": {
                        "type": "string"
                      },
                      "avatarUrl": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "nickname",
                      "avatarUrl"
                    ]
                  }
                }
              },
              "required": [
                "id",
                "content",
                "createdAt",
                "updatedAt",
                "userId",
                "user",
                "media",
                "genres",
                "likeCount",
                "commentCount",
                "repostCount",
                "isLiked",
                "isBookmarked",
                "isReposted",
                "quotePost",
                "repostPost",
                "mentionedUsers"
              ]
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "items",
          "nextCursor"
        ],
        "description": "ブックマーク投稿一覧レスポンス。feed と同等の投稿形式（mentionedUsers / isBlocked / isMuted 付き）。"
      },
      "TrendingHashtagItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "count": {
            "type": "integer"
          }
        },
        "required": [
          "id",
          "name",
          "count"
        ],
        "description": "トレンドハッシュタグ 1 件（id, name, count）。count は Hashtag テーブルの累計投稿数。"
      },
      "TrendingHashtagsResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "count": {
                  "type": "integer"
                }
              },
              "required": [
                "id",
                "name",
                "count"
              ]
            }
          }
        },
        "required": [
          "items"
        ],
        "description": "トレンドハッシュタグ一覧レスポンス。count 降順。"
      },
      "TrendingGenreItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "postCount": {
            "type": "integer"
          }
        },
        "required": [
          "id",
          "name",
          "category",
          "postCount"
        ],
        "description": "トレンドジャンル 1 件（id, name, category, postCount）。postCount は直近 48 時間の投稿数。"
      },
      "TrendingGenresResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "category": {
                  "type": "string"
                },
                "postCount": {
                  "type": "integer"
                }
              },
              "required": [
                "id",
                "name",
                "category",
                "postCount"
              ]
            }
          }
        },
        "required": [
          "items"
        ],
        "description": "トレンドジャンル一覧レスポンス。postCount 降順。"
      },
      "RecommendedUserItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "nickname": {
            "type": "string"
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "bio": {
            "type": [
              "string",
              "null"
            ]
          },
          "followersCount": {
            "type": "integer"
          },
          "following": {
            "type": "boolean"
          },
          "requested": {
            "type": "boolean"
          },
          "isPublic": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "nickname",
          "avatarUrl",
          "bio",
          "followersCount",
          "following",
          "requested",
          "isPublic"
        ],
        "description": "おすすめユーザー 1 件（id, nickname, avatarUrl, bio, followersCount, following, requested, isPublic）。ゲスト時は空配列。"
      },
      "RecommendedUsersResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "nickname": {
                  "type": "string"
                },
                "avatarUrl": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "bio": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "followersCount": {
                  "type": "integer"
                },
                "following": {
                  "type": "boolean"
                },
                "requested": {
                  "type": "boolean"
                },
                "isPublic": {
                  "type": "boolean"
                }
              },
              "required": [
                "id",
                "nickname",
                "avatarUrl",
                "bio",
                "followersCount",
                "following",
                "requested",
                "isPublic"
              ]
            }
          }
        },
        "required": [
          "items"
        ],
        "description": "おすすめユーザー一覧レスポンス。フォロワー数降順。ゲスト時は空配列。"
      },
      "PresignedUploadRequest": {
        "type": "object",
        "properties": {
          "contentType": {
            "type": "string",
            "enum": [
              "video/mp4",
              "video/quicktime",
              "video/webm"
            ]
          },
          "fileSize": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 83886080
          },
          "folder": {
            "type": "string",
            "enum": [
              "posts",
              "post-videos",
              "avatars",
              "headers"
            ],
            "default": "post-videos"
          }
        },
        "required": [
          "contentType",
          "fileSize"
        ],
        "description": "動画 presigned PUT URL のリクエスト。\ncontentType は video/mp4, video/quicktime, video/webm のいずれか。\nfileSize は正の整数（バイト）で MAX_VIDEO_SIZE（80MB）以下。\nfolder のデフォルトは post-videos。"
      },
      "PresignedUploadResponse": {
        "type": "object",
        "properties": {
          "uploadUrl": {
            "type": "string",
            "format": "uri"
          },
          "fileUrl": {
            "type": "string",
            "format": "uri"
          },
          "key": {
            "type": "string"
          },
          "contentLength": {
            "type": "integer",
            "exclusiveMinimum": 0
          }
        },
        "required": [
          "uploadUrl",
          "fileUrl",
          "key",
          "contentLength"
        ],
        "description": "動画 presigned PUT URL のレスポンス。\nuploadUrl に PUT リクエストを送る際は Content-Type と Content-Length をヘッダーに付与すること。\nfileUrl は自社ストレージの公開 URL で、投稿作成時の mediaUrls にそのまま渡せる。\nkey は R2 オブジェクトキー（削除時などに参照）。"
      },
      "ImageUploadResponse": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "url"
        ],
        "description": "画像アップロード成功のレスポンス。\nurl は EXIF/GPS/IPTC を除去済みの自社ストレージ公開 URL。\n投稿作成時の mediaUrls にそのまま渡せる。"
      },
      "RegisterDeviceRequest": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "minLength": 1,
            "maxLength": 512
          },
          "platform": {
            "type": "string",
            "enum": [
              "android",
              "ios"
            ]
          }
        },
        "required": [
          "token",
          "platform"
        ],
        "description": "Push 通知デバイストークン登録リクエスト。\ntoken は Expo / APNs / FCM の Push トークン文字列。\nplatform は android または ios。"
      },
      "DictionaryCategory": {
        "type": "string",
        "enum": [
          "樹形",
          "技術・作業",
          "管理・育成",
          "道具・用品",
          "盆器・鉢",
          "用土・肥料",
          "展示・鑑賞"
        ],
        "description": "辞典カテゴリ enum（7 固定値）: 樹形 / 技術・作業 / 管理・育成 / 道具・用品 / 盆器・鉢 / 用土・肥料 / 展示・鑑賞。"
      },
      "KanaRow": {
        "type": "string",
        "enum": [
          "あ行",
          "か行",
          "さ行",
          "た行",
          "な行",
          "は行",
          "ま行",
          "や行",
          "ら行",
          "わ行"
        ],
        "description": "五十音行 enum（10 行）: あ行〜わ行。reading 先頭文字に基づく in-memory フィルタで使用。"
      },
      "DictionaryTermSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "term": {
            "type": "string"
          },
          "reading": {
            "type": "string"
          },
          "category": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "slug",
          "term",
          "reading",
          "category"
        ],
        "description": "辞典用語の一覧項目（description 省略）。"
      },
      "DictionaryTermDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "term": {
            "type": "string"
          },
          "reading": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "slug",
          "term",
          "reading",
          "category",
          "description"
        ],
        "description": "辞典用語の詳細（description を含む）。"
      },
      "DictionaryListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "slug": {
                  "type": "string"
                },
                "term": {
                  "type": "string"
                },
                "reading": {
                  "type": "string"
                },
                "category": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "slug",
                "term",
                "reading",
                "category"
              ]
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "items",
          "nextCursor"
        ],
        "description": "GET /api/v1/dictionary 成功レスポンス。reading ASC / sortOrder ASC 順。"
      },
      "DictionaryDetailResponse": {
        "type": "object",
        "properties": {
          "term": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "slug": {
                "type": "string"
              },
              "term": {
                "type": "string"
              },
              "reading": {
                "type": "string"
              },
              "category": {
                "type": "string"
              },
              "description": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "slug",
              "term",
              "reading",
              "category",
              "description"
            ]
          },
          "prev": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "slug": {
                "type": "string"
              },
              "term": {
                "type": "string"
              },
              "reading": {
                "type": "string"
              },
              "category": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "slug",
              "term",
              "reading",
              "category"
            ]
          },
          "next": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "slug": {
                "type": "string"
              },
              "term": {
                "type": "string"
              },
              "reading": {
                "type": "string"
              },
              "category": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "slug",
              "term",
              "reading",
              "category"
            ]
          },
          "related": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "slug": {
                  "type": "string"
                },
                "term": {
                  "type": "string"
                },
                "reading": {
                  "type": "string"
                },
                "category": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "slug",
                "term",
                "reading",
                "category"
              ]
            }
          }
        },
        "required": [
          "term",
          "prev",
          "next",
          "related"
        ],
        "description": "GET /api/v1/dictionary/{slug} 成功レスポンス。prev/next/related を含む。"
      },
      "NutrientCategory": {
        "type": "string",
        "enum": [
          "primary",
          "secondary",
          "trace"
        ],
        "description": "栄養素カテゴリ enum: primary（三大要素）/ secondary（二次要素）/ trace（微量要素）。"
      },
      "TreeCategory": {
        "type": "string",
        "enum": [
          "conifer",
          "deciduous",
          "flowering",
          "fruiting",
          "grass",
          "evergreen"
        ],
        "description": "樹種カテゴリ enum: conifer（松柏類）/ deciduous（雑木類）/ flowering（花物）/ fruiting（実物）/ grass（草物）/ evergreen（常緑広葉樹）。"
      },
      "FertilizerAction": {
        "type": "string",
        "enum": [
          "none",
          "light",
          "moderate",
          "heavy"
        ],
        "description": "施肥アクション enum: none（施肥不要）/ light（控えめ）/ moderate（通常量）/ heavy（たっぷり）。"
      },
      "NutrientLevel": {
        "type": "string",
        "enum": [
          "high",
          "balanced",
          "low",
          "none"
        ],
        "description": "栄養素レベル enum: high（多め）/ balanced（バランス）/ low（控えめ）/ none（不要）。"
      },
      "NutrientItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "bonsaiRole": {
            "type": [
              "string",
              "null"
            ]
          },
          "slug": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "symbol",
          "category",
          "description",
          "bonsaiRole",
          "slug"
        ],
        "description": "栄養素一覧の 1 件（deficiencySymptoms 等は詳細のみ）。"
      },
      "NutrientDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "bonsaiRole": {
            "type": [
              "string",
              "null"
            ]
          },
          "slug": {
            "type": "string"
          },
          "deficiencySymptoms": {
            "type": [
              "string",
              "null"
            ]
          },
          "excessSymptoms": {
            "type": [
              "string",
              "null"
            ]
          },
          "foodSources": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "symbol",
          "category",
          "description",
          "bonsaiRole",
          "slug",
          "deficiencySymptoms",
          "excessSymptoms",
          "foodSources"
        ],
        "description": "栄養素詳細（deficiencySymptoms / excessSymptoms / foodSources を含む）。"
      },
      "FertilizerCategoryItem": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "merit": {
            "type": [
              "string",
              "null"
            ]
          },
          "demerit": {
            "type": [
              "string",
              "null"
            ]
          },
          "bonsaiUsage": {
            "type": [
              "string",
              "null"
            ]
          },
          "slug": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "name",
          "description",
          "merit",
          "demerit",
          "bonsaiUsage",
          "slug"
        ],
        "description": "肥料カテゴリ 1 件（code, name, description, merit, demerit, bonsaiUsage, slug）。"
      },
      "TreeSpeciesItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "fertilizingPolicy": {
            "type": [
              "string",
              "null"
            ]
          },
          "slug": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "category",
          "fertilizingPolicy",
          "slug"
        ],
        "description": "樹種一覧の 1 件（id, name, category, fertilizingPolicy, slug）。"
      },
      "FertilizationMonth": {
        "type": "object",
        "properties": {
          "month": {
            "type": "integer"
          },
          "action": {
            "type": "string"
          },
          "nitrogenLevel": {
            "type": [
              "string",
              "null"
            ]
          },
          "phosphorusLevel": {
            "type": [
              "string",
              "null"
            ]
          },
          "potassiumLevel": {
            "type": [
              "string",
              "null"
            ]
          },
          "recommendedType": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "month",
          "action",
          "nitrogenLevel",
          "phosphorusLevel",
          "potassiumLevel",
          "recommendedType",
          "description"
        ],
        "description": "月別施肥データ 1 件（month 1〜12、action、各栄養素レベル、推奨肥料タイプ、備考）。"
      },
      "FertilizationScheduleResponse": {
        "type": "object",
        "properties": {
          "months": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "month": {
                  "type": "integer"
                },
                "action": {
                  "type": "string"
                },
                "nitrogenLevel": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "phosphorusLevel": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "potassiumLevel": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "recommendedType": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "description": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "month",
                "action",
                "nitrogenLevel",
                "phosphorusLevel",
                "potassiumLevel",
                "recommendedType",
                "description"
              ]
            }
          }
        },
        "required": [
          "months"
        ],
        "description": "GET /api/v1/fertilizers/tree-species/{slug}/schedule 成功レスポンス。months は月順で最大 12 件。"
      },
      "HormoneCategory": {
        "type": "string",
        "enum": [
          "major",
          "secondary"
        ],
        "description": "ホルモンカテゴリ enum: major（主要ホルモン）/ secondary（補助ホルモン）。"
      },
      "HormoneItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "nameEn": {
            "type": [
              "string",
              "null"
            ]
          },
          "slug": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "chemicalFormula": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "nameEn",
          "slug",
          "category",
          "chemicalFormula",
          "description"
        ],
        "description": "ホルモン一覧の 1 件（id, name, nameEn, slug, category, chemicalFormula, description）。"
      },
      "HormoneEffect": {
        "type": "object",
        "properties": {
          "effectName": {
            "type": "string"
          },
          "isPromoting": {
            "type": "boolean"
          }
        },
        "required": [
          "effectName",
          "isPromoting"
        ],
        "description": "ホルモン効果 1 件（effectName, isPromoting）。isPromoting=true: 促進 / false: 抑制。"
      },
      "HormoneSeasonalLevel": {
        "type": "object",
        "properties": {
          "month": {
            "type": "integer"
          },
          "level": {
            "type": "string"
          }
        },
        "required": [
          "month",
          "level"
        ],
        "description": "月別ホルモン活性 1 件（month 1〜12、level: high / moderate / low / minimal）。"
      },
      "HormoneDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "nameEn": {
            "type": [
              "string",
              "null"
            ]
          },
          "slug": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "chemicalFormula": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "bonsaiRole": {
            "type": [
              "string",
              "null"
            ]
          },
          "productionSite": {
            "type": [
              "string",
              "null"
            ]
          },
          "practicalTips": {
            "type": [
              "string",
              "null"
            ]
          },
          "activationMethod": {
            "type": [
              "string",
              "null"
            ]
          },
          "effects": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "effectName": {
                  "type": "string"
                },
                "isPromoting": {
                  "type": "boolean"
                }
              },
              "required": [
                "effectName",
                "isPromoting"
              ]
            }
          },
          "seasonalLevels": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "month": {
                  "type": "integer"
                },
                "level": {
                  "type": "string"
                }
              },
              "required": [
                "month",
                "level"
              ]
            }
          }
[...]
