{
  "openapi": "3.1.0",
  "info": {
    "title": "Bon_Log Mobile API",
    "version": "1.29.0",
    "description": "盆栽 SNS「Bon_Log」のモバイルアプリ向け API。\n\n## 認証フロー\n\n1. POST /api/v1/auth/login でトークンペアを取得\n2. API リクエストに Authorization: Bearer <accessToken> を付与\n3. 401 AUTH_TOKEN_EXPIRED を受け取ったら POST /api/v1/auth/refresh でペアを更新\n4. 401 AUTH_REFRESH_TOKEN_REUSE_DETECTED はセキュリティ警告画面を表示して再ログインを促す\n\n## レート制限\n\n429 レスポンスには Retry-After ヘッダー（秒）が付与される。自動リトライは禁止。"
  },
  "servers": [
    {
      "url": "https://www.bon-log.com",
      "description": "本番サーバー"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "アクセストークン（JWT HS256, TTL 15 分）。期限切れ時は /api/v1/auth/refresh でトークンペアを更新する。"
      }
    },
    "schemas": {
      "TokenPair": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "refreshToken": {
            "type": "string"
          },
          "expiresIn": {
            "type": "integer"
          }
        },
        "required": [
          "accessToken",
          "refreshToken",
          "expiresIn"
        ],
        "description": "アクセストークン + リフレッシュトークン + 有効期間（秒）のペア。"
      },
      "Requires2FAResponse": {
        "type": "object",
        "properties": {
          "requires2FA": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "ticket": {
            "type": "string"
          }
        },
        "required": [
          "requires2FA",
          "ticket"
        ],
        "description": "2FA が必要な場合の 202 レスポンス。ticket を /api/v1/auth/2fa/verify に渡す。"
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "success"
        ],
        "description": "処理成功を示す汎用レスポンス。"
      },
      "UsersMeResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "nickname": {
            "type": "string"
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "bio": {
            "type": [
              "string",
              "null"
            ]
          },
          "isPremium": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "email",
          "nickname",
          "avatarUrl",
          "bio",
          "isPremium"
        ],
        "description": "認証ユーザーの基本情報。"
      },
      "UsersMeFullResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "nickname": {
            "type": "string"
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "headerUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "bio": {
            "type": [
              "string",
              "null"
            ]
          },
          "location": {
            "type": [
              "string",
              "null"
            ]
          },
          "isPublic": {
            "type": "boolean"
          },
          "bonsaiStartYear": {
            "type": [
              "integer",
              "null"
            ]
          },
          "bonsaiStartMonth": {
            "type": [
              "integer",
              "null"
            ]
          },
          "birthDate": {
            "type": [
              "string",
              "null"
            ]
          },
          "isPremium": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "email",
          "nickname",
          "avatarUrl",
          "headerUrl",
          "bio",
          "location",
          "isPublic",
          "bonsaiStartYear",
          "bonsaiStartMonth",
          "birthDate",
          "isPremium"
        ],
        "description": "PATCH /api/v1/users/me 成功時の更新後プロフィール全フィールド。"
      },
      "UpdateProfileRequest": {
        "type": "object",
        "properties": {
          "nickname": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50
          },
          "bio": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 200
          },
          "location": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "bonsaiStartYear": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 1900,
            "maximum": 2026
          },
          "bonsaiStartMonth": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 1,
            "maximum": 12
          },
          "birthDate": {
            "type": [
              "string",
              "null"
            ]
          },
          "isPublic": {
            "type": "boolean"
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "headerUrl": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          }
        },
        "description": "プロフィール部分更新リクエスト。すべてのフィールドが optional。\n省略したフィールドは現在値を維持する。\navatarUrl / headerUrl は POST /api/v1/upload/image で取得した自社ストレージ URL を渡すこと（外部 URL は 400 VALIDATION_ERROR）。\nnickname は改行・< > を含めない。予約済みは 400 VALIDATION_ERROR。"
      },
      "ApiErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "AUTH_REQUIRED",
                  "AUTH_INVALID_TOKEN",
                  "AUTH_TOKEN_EXPIRED",
                  "AUTH_INVALID_CREDENTIALS",
                  "AUTH_2FA_REQUIRED",
                  "AUTH_2FA_INVALID_CODE",
                  "AUTH_2FA_TICKET_EXPIRED",
                  "AUTH_REFRESH_TOKEN_INVALID",
                  "AUTH_REFRESH_TOKEN_REUSE_DETECTED",
                  "ACCOUNT_SUSPENDED",
                  "GUEST_NOT_ALLOWED",
                  "EMAIL_NOT_VERIFIED",
                  "VALIDATION_ERROR",
                  "RATE_LIMITED",
                  "NOT_FOUND",
                  "CONFLICT",
                  "INTERNAL_ERROR",
                  "SERVER_MISCONFIGURED",
                  "PREMIUM_REQUIRED"
                ]
              },
              "message": {
                "type": "string"
              },
              "status": {
                "type": "integer"
              }
            },
            "required": [
              "code",
              "message",
              "status"
            ]
          }
        },
        "required": [
          "error"
        ],
        "description": "全エンドポイント共通エラーレスポンス形式。"
      },
      "MobileApiErrorCode": {
        "type": "string",
        "enum": [
          "AUTH_REQUIRED",
          "AUTH_INVALID_TOKEN",
          "AUTH_TOKEN_EXPIRED",
          "AUTH_INVALID_CREDENTIALS",
          "AUTH_2FA_REQUIRED",
          "AUTH_2FA_INVALID_CODE",
          "AUTH_2FA_TICKET_EXPIRED",
          "AUTH_REFRESH_TOKEN_INVALID",
          "AUTH_REFRESH_TOKEN_REUSE_DETECTED",
          "ACCOUNT_SUSPENDED",
          "GUEST_NOT_ALLOWED",
          "EMAIL_NOT_VERIFIED",
          "VALIDATION_ERROR",
          "RATE_LIMITED",
          "NOT_FOUND",
          "CONFLICT",
          "INTERNAL_ERROR",
          "SERVER_MISCONFIGURED",
          "PREMIUM_REQUIRED"
        ],
        "description": "エラーコード enum（18 値）。モバイル側はこの enum からコード→メッセージ対応表を導出できる。"
      },
      "LoginRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "maxLength": 100,
            "format": "email"
          },
          "password": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "email",
          "password"
        ],
        "description": "メール/パスワード認証のリクエスト。"
      },
      "Verify2FARequest": {
        "type": "object",
        "properties": {
          "ticket": {
            "type": "string",
            "minLength": 1
          },
          "code": {
            "type": "string",
            "minLength": 6
          }
        },
        "required": [
          "ticket",
          "code"
        ],
        "description": "2FA コード検証のリクエスト。"
      },
      "TwoFactorSetupResponse": {
        "type": "object",
        "properties": {
          "secret": {
            "type": "string"
          },
          "otpAuthUrl": {
            "type": "string"
          },
          "setupId": {
            "type": "string"
          },
          "backupCodes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "secret",
          "otpAuthUrl",
          "setupId",
          "backupCodes"
        ],
        "description": "GET /api/v1/auth/2fa/setup 成功レスポンス。otpAuthUrl は otpauth:// URI（Native 側でローカルに QR を描画する用途）。setupId は POST /api/v1/auth/2fa/enable に必須で渡す（TOTP シークレットの再送を避けるための一時参照キー）。"
      },
      "TwoFactorEnableRequest": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "minLength": 6
          },
          "setupId": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "code",
          "setupId"
        ],
        "description": "2FA 有効化リクエスト。code は TOTP コード、setupId は GET /api/v1/auth/2fa/setup で発行された参照キー。"
      },
      "TwoFactorEnableResponse": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "enabled"
        ],
        "description": "2FA 有効化成功レスポンス。"
      },
      "TwoFactorDisableRequest": {
        "type": "object",
        "properties": {
          "password": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "password"
        ],
        "description": "2FA 無効化リクエスト。password は本人確認用（TOTP コードではない）。"
      },
      "TwoFactorDisableResponse": {
        "type": "object",
        "properties": {
          "disabled": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "disabled"
        ],
        "description": "2FA 無効化成功レスポンス。"
      },
      "RefreshRequest": {
        "type": "object",
        "properties": {
          "refreshToken": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "refreshToken"
        ],
        "description": "トークンリフレッシュのリクエスト。"
      },
      "LogoutRequest": {
        "type": "object",
        "properties": {
          "refreshToken": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "refreshToken"
        ],
        "description": "ログアウトのリクエスト。"
      },
      "GoogleRequest": {
        "type": "object",
        "properties": {
          "idToken": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "idToken"
        ],
        "description": "Google ID トークン認証のリクエスト。"
      },
      "PasswordResetRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "maxLength": 100,
            "format": "email"
          }
        },
        "required": [
          "email"
        ],
        "description": "パスワードリセットメール送信のリクエスト。"
      },
      "VerifyEmailResendRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "maxLength": 100,
            "format": "email"
          }
        },
        "required": [
          "email"
        ],
        "description": "確認メール再送のリクエスト。メールアドレスの存在有無に関わらず常に 200 を返す（列挙攻撃対策）。"
      },
      "PasswordResetConfirm": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "maxLength": 100,
            "format": "email"
          },
          "token": {
            "type": "string",
            "minLength": 10
          },
          "newPassword": {
            "type": "string",
            "minLength": 8,
            "maxLength": 72,
            "pattern": "[a-zA-Z]"
          }
        },
        "required": [
          "email",
          "token",
          "newPassword"
        ],
        "description": "パスワードリセット確定のリクエスト。"
      },
      "RegisterRequest": {
        "type": "object",
        "properties": {
          "nickname": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50
          },
          "email": {
            "type": "string",
            "maxLength": 100,
            "format": "email"
          },
          "password": {
            "type": "string",
            "minLength": 8,
            "maxLength": 72,
            "pattern": "[a-zA-Z]"
          },
          "termsAccepted": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "nickname",
          "email",
          "password",
          "termsAccepted"
        ],
        "description": "新規ユーザー登録のリクエスト。termsAccepted は true のみ受け付ける（利用規約同意の強制）。"
      },
      "ReadPaginationQuery": {
        "type": "object",
        "properties": {
          "cursor": {
            "type": "string",
            "minLength": 1,
            "maxLength": 30
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          }
        },
        "description": "カーソルベースページネーションのクエリパラメータ（cursor, limit）。"
      },
      "SearchQuery": {
        "type": "object",
        "properties": {
          "cursor": {
            "type": "string",
            "minLength": 1,
            "maxLength": 30
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          "q": {
            "type": "string",
            "maxLength": 100,
            "default": ""
          }
        },
        "description": "検索クエリパラメータ（q, cursor, limit）。"
      },
      "SearchPostsQuery": {
        "type": "object",
        "properties": {
          "cursor": {
            "type": "string",
            "minLength": 1,
            "maxLength": 30
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          "q": {
            "type": "string",
            "maxLength": 100,
            "default": ""
          },
          "genreId": {
            "type": "string"
          },
          "dateFrom": {
            "type": "string"
          },
          "dateTo": {
            "type": "string"
          },
          "minLikes": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "mediaType": {
            "type": "string",
            "enum": [
              "image",
              "video",
              "none"
            ]
          }
        },
        "description": "投稿検索クエリパラメータ。SearchQuery を拡張して投稿専用フィルタを追加。\nmediaType は image / video / none のいずれか（image=画像あり / video=動画あり / none=テキストのみ）。"
      },
      "SearchHashtagsQuery": {
        "type": "object",
        "properties": {
          "q": {
            "type": "string",
            "maxLength": 50,
            "default": ""
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 50
          }
        },
        "description": "ハッシュタグ候補検索クエリパラメータ（q, limit）。オートコンプリート用。"
      },
      "HashtagSearchResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "count": {
                  "type": "integer"
                }
              },
              "required": [
                "id",
                "name",
                "count"
              ]
            }
          }
        },
        "required": [
          "items"
        ],
        "description": "ハッシュタグ候補検索結果（id, name, count）。count 降順。"
      },
      "BlockResponse": {
        "type": "object",
        "properties": {
          "blocked": {
            "type": "boolean"
          }
        },
        "required": [
          "blocked"
        ],
        "description": "ブロック操作後の状態。POST→true / DELETE→false。冪等: 既ブロック/未ブロックでも 200。"
      },
      "MuteResponse": {
        "type": "object",
        "properties": {
          "muted": {
            "type": "boolean"
          }
        },
        "required": [
          "muted"
        ],
        "description": "ミュート操作後の状態。POST→true / DELETE→false。冪等: 既ミュート/未ミュートでも 200。"
      },
      "UserMinimalWithBio": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "nickname": {
            "type": "string"
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "bio": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "nickname",
          "avatarUrl",
          "bio"
        ],
        "description": "ブロック/ミュート一覧のユーザー項目（id, nickname, avatarUrl, bio）。"
      },
      "UserMinimalListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "nickname": {
                  "type": "string"
                },
                "avatarUrl": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "bio": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "id",
                "nickname",
                "avatarUrl",
                "bio"
              ]
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "items",
          "nextCursor"
        ],
        "description": "ブロック/ミュート一覧レスポンス。カーソルページネーション形式。"
      },
      "CreateReportRequest": {
        "type": "object",
        "properties": {
          "targetType": {
            "type": "string",
            "enum": [
              "post",
              "comment",
              "event",
              "shop",
              "review",
              "user"
            ]
          },
          "targetId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64
          },
          "reason": {
            "type": "string",
            "enum": [
              "spam",
              "inappropriate",
              "harassment",
              "copyright",
              "other"
            ]
          },
          "description": {
            "type": "string",
            "maxLength": 1000
          }
        },
        "required": [
          "targetType",
          "targetId",
          "reason"
        ],
        "description": "通報リクエスト。targetType と reason は enum 値のみ受け付ける。"
      },
      "LikeResponse": {
        "type": "object",
        "properties": {
          "liked": {
            "type": "boolean"
          },
          "likeCount": {
            "type": "integer"
          }
        },
        "required": [
          "liked",
          "likeCount"
        ],
        "description": "いいね操作後の最新状態。liked は操作後の状態、likeCount は操作後の総いいね数。"
      },
      "FollowResponse": {
        "type": "object",
        "properties": {
          "following": {
            "type": "boolean"
          },
          "requested": {
            "type": "boolean"
          },
          "followerCount": {
            "type": "integer"
          }
        },
        "required": [
          "following",
          "requested",
          "followerCount"
        ],
        "description": "フォロー操作後の統一レスポンス。following/requested は同時に true にならない。followerCount は操作後の実数。"
      },
      "NotificationReadRequest": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "既読化する通知 ID の配列。省略または空配列の場合は全未読を既読化する。最大 100 件。"
      },
      "CreatePostRequest": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "default": ""
          },
          "genreIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 3,
            "default": []
          },
          "mediaUrls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": []
          },
          "mediaTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "image",
                "video"
              ]
            },
            "default": []
          },
          "poll": {
            "type": "object",
            "properties": {
              "options": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 50
                },
                "minItems": 2,
                "maxItems": 10
              },
              "durationSeconds": {
                "type": "integer",
                "default": 86400
              }
            },
            "required": [
              "options"
            ]
          }
        },
        "description": "投稿作成リクエスト。content / mediaUrls のどちらか一方は必須。\ngenreIds は最大 3 つ。mediaUrls と mediaTypes は同数で対応させること。\npoll を指定するとアンケート付き投稿になる。"
      },
      "CreateQuoteRequest": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "default": ""
          },
          "genreIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 3,
            "default": []
          },
          "mediaUrls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": []
          },
          "mediaTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "image",
                "video"
              ]
            },
            "default": []
          }
        },
        "description": "引用投稿リクエスト（POST /api/v1/posts/{id}/quote）。\ncontent は必須（空文字は 400）。\ngenreIds は最大 3 つ。"
      },
      "PollVoteRequest": {
        "type": "object",
        "properties": {
          "optionId": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "optionId"
        ],
        "description": "アンケート投票リクエスト。optionId は投票する選択肢の ID。"
      },
      "UserPostsResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "userId": {
                  "type": "string"
                },
                "user": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "nickname": {
                      "type": "string"
                    },
                    "avatarUrl": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "isBlocked": {
                      "type": "boolean"
                    },
                    "isMuted": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "nickname",
                    "avatarUrl",
                    "isBlocked",
                    "isMuted"
                  ]
                },
                "media": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "sortOrder": {
                        "type": "integer"
                      }
                    },
                    "required": [
                      "id",
                      "url",
                      "type",
                      "sortOrder"
                    ]
                  }
                },
                "genres": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "category": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "category"
                    ]
                  }
                },
                "likeCount": {
                  "type": "integer"
                },
                "commentCount": {
                  "type": "integer"
                },
                "repostCount": {
                  "type": "integer"
                },
                "isLiked": {
                  "type": "boolean"
                },
                "isBookmarked": {
                  "type": "boolean"
                },
                "isReposted": {
                  "type": "boolean"
                },
                "quotePost": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "nickname": {
                          "type": "string"
                        },
                        "avatarUrl": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "nickname",
                        "avatarUrl"
                      ]
                    },
                    "media": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "sortOrder": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "id",
                          "url",
                          "type",
                          "sortOrder"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "content",
                    "user"
                  ]
                },
                "repostPost": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "nickname": {
                          "type": "string"
                        },
                        "avatarUrl": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "nickname",
                        "avatarUrl"
                      ]
                    },
                    "media": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "sortOrder": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "id",
                          "url",
                          "type",
                          "sortOrder"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "content",
                    "user"
                  ]
                },
                "poll": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "postId": {
                      "type": "string"
                    },
                    "duration": {
                      "type": "integer"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "options": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "pollId": {
                            "type": "string"
                          },
                          "text": {
                            "type": "string"
                          },
                          "sortOrder": {
                            "type": "integer"
                          },
                          "_count": {
                            "type": "object",
                            "properties": {
                              "votes": {
                                "type": "integer"
                              }
                            },
                            "required": [
                              "votes"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "pollId",
                          "text",
                          "sortOrder",
                          "_count"
                        ]
                      }
                    },
                    "votes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "pollId": {
                            "type": "string"
                          },
                          "optionId": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "pollId",
                          "optionId",
                          "userId",
                          "createdAt"
                        ]
                      }
                    },
                    "_count": {
                      "type": "object",
                      "properties": {
                        "votes": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "votes"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "postId",
                    "duration",
                    "expiresAt",
                    "createdAt",
                    "options",
                    "_count"
                  ]
                },
                "mentionedUsers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "nickname": {
                        "type": "string"
                      },
                      "avatarUrl": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "nickname",
                      "avatarUrl"
                    ]
                  }
                }
              },
              "required": [
                "id",
                "content",
                "createdAt",
                "updatedAt",
                "userId",
                "user",
                "media",
                "genres",
                "likeCount",
                "commentCount",
                "repostCount",
                "isLiked",
                "isBookmarked",
                "isReposted",
                "quotePost",
                "repostPost",
                "poll",
                "mentionedUsers"
              ]
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "items",
          "nextCursor"
        ],
        "description": "ユーザー投稿一覧レスポンス。カーソルページネーション形式。"
      },
      "RepostResponse": {
        "type": "object",
        "properties": {
          "reposted": {
            "type": "boolean"
          },
          "repostCount": {
            "type": "integer"
          }
        },
        "required": [
          "reposted",
          "repostCount"
        ],
        "description": "リポスト操作後の状態。reposted は操作後の状態、repostCount は最新の総リポスト数。"
      },
      "PostPollOption": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "pollId": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "sortOrder": {
            "type": "integer"
          },
          "_count": {
            "type": "object",
            "properties": {
              "votes": {
                "type": "integer"
              }
            },
            "required": [
              "votes"
            ]
          }
        },
        "required": [
          "id",
          "pollId",
          "text",
          "sortOrder",
          "_count"
        ],
        "description": "PostResponse に埋め込まれるアンケート選択肢。Prisma 生形をそのまま JSON 化したもの。\nvoteCount は _count.votes で取得する。"
      },
      "PostPollVoteRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "pollId": {
            "type": "string"
          },
          "optionId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "pollId",
          "optionId",
          "userId",
          "createdAt"
        ],
        "description": "認証ユーザーの投票履歴レコード（PostResponse.poll.votes の 1 件）。ゲストには含まれない。"
      },
      "PostPoll": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "postId": {
            "type": "string"
          },
          "duration": {
            "type": "integer"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "options": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "pollId": {
                  "type": "string"
                },
                "text": {
                  "type": "string"
                },
                "sortOrder": {
                  "type": "integer"
                },
                "_count": {
                  "type": "object",
                  "properties": {
                    "votes": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "votes"
                  ]
                }
              },
              "required": [
                "id",
                "pollId",
                "text",
                "sortOrder",
                "_count"
              ]
            }
          },
          "votes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "pollId": {
                  "type": "string"
                },
                "optionId": {
                  "type": "string"
                },
                "userId": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "required": [
                "id",
                "pollId",
                "optionId",
                "userId",
                "createdAt"
              ]
            }
          },
          "_count": {
            "type": "object",
            "properties": {
              "votes": {
                "type": "integer"
              }
            },
            "required": [
              "votes"
            ]
          }
        },
        "required": [
          "id",
          "postId",
          "duration",
          "expiresAt",
          "createdAt",
          "options",
          "_count"
        ],
        "description": "PostResponse に埋め込まれるアンケートの実形（Prisma 生形 JSON）。\ntotalVotes は _count.votes で取得する。閲覧者の投票状態は votes[0].optionId で判定する。\nvotes フィールドはゲストには含まれない。未投票なら空配列。\nPollVoteResponse（POST /polls/{id}/vote の応答）とは別形状。"
      },
      "PollOptionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "voteCount": {
            "type": "integer"
          },
          "percentage": {
            "type": "number"
          }
        },
        "required": [
          "id",
          "text",
          "voteCount",
          "percentage"
        ],
        "description": "アンケート選択肢（投票後）。percentage は全票に占める割合（0〜100, 小数第 1 位）。"
      },
      "PollVoteResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "isExpired": {
            "type": "boolean"
          },
          "totalVotes": {
            "type": "integer"
          },
          "userVoteOptionId": {
            "type": [
              "string",
              "null"
            ]
          },
          "options": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "text": {
                  "type": "string"
                },
                "voteCount": {
                  "type": "integer"
                },
                "percentage": {
                  "type": "number"
                }
              },
              "required": [
                "id",
                "text",
                "voteCount",
                "percentage"
              ]
            }
          }
        },
        "required": [
          "id",
          "expiresAt",
          "isExpired",
          "totalVotes",
          "userVoteOptionId",
          "options"
        ],
        "description": "アンケート投票後の最新集計結果。"
      },
      "UpdatePostRequest": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "default": ""
          },
          "genreIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 3,
            "default": []
          },
          "mediaUrls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": []
          },
          "mediaTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "image",
                "video"
              ]
            },
            "default": []
          }
        },
        "description": "投稿編集リクエスト（所有者のみ）。ジャンル・メディアは差し替え方式。\n純粋リポストは編集不可（400 VALIDATION_ERROR）。\n1 日投稿上限は消費しない。editedAt が更新される。"
      },
      "CreateCommentRequest": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "maxLength": 500,
            "default": ""
          },
          "parentId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1
          },
          "mediaUrls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": []
          },
          "mediaTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "image",
                "video"
              ]
            },
            "default": []
          }
        },
        "description": "コメント作成リクエスト。content / mediaUrls のどちらか一方は必須。\nparentId を指定すると返信コメントになる（スレッド参加者全員へ reply 通知）。\n本文最大 500 文字。画像最大 2 枚。動画はプレミアム会員のみ 1 本。"
      },
      "CommentResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "postId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "parentId": {
            "type": [
              "string",
              "null"
            ]
          },
          "content": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "isDeleted": {
            "type": "boolean"
          },
          "isBlockedUser": {
            "type": "boolean"
          },
          "likeCount": {
            "type": "integer"
          },
          "replyCount": {
            "type": "integer"
          },
          "isLiked": {
            "type": "boolean"
          },
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "nickname": {
                "type": "string"
              },
              "avatarUrl": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "isBlocked": {
                "type": "boolean"
              },
              "isMuted": {
                "type": "boolean"
              }
            },
            "required": [
              "id",
              "nickname",
              "avatarUrl",
              "isBlocked",
              "isMuted"
            ]
          },
          "media": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "sortOrder": {
                  "type": "integer"
                }
              },
              "required": [
                "id",
                "url",
                "type",
                "sortOrder"
              ]
            }
          },
          "mentionedUsers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "nickname": {
                  "type": "string"
                },
                "avatarUrl": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "id",
                "nickname",
                "avatarUrl"
              ]
            }
          }
        },
        "required": [
          "id",
          "postId",
          "userId",
          "parentId",
          "content",
          "createdAt",
          "updatedAt",
          "isDeleted",
          "isBlockedUser",
          "likeCount",
          "replyCount",
          "isLiked",
          "user",
          "media",
          "mentionedUsers"
        ],
        "description": "単一コメントのレスポンス（作成時に返却）。"
      },
      "NotificationReadResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "unreadCount": {
            "type": "integer"
          }
        },
        "required": [
          "success",
          "unreadCount"
        ],
        "description": "通知既読化後のレスポンス。unreadCount はミュートユーザーを除いた操作後の未読数。"
      },
      "MentionedUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "nickname": {
            "type": "string"
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "nickname",
          "avatarUrl"
        ],
        "description": "メンション解決済みユーザー情報。content 内の `<@userId>` トークンに対応する表示情報。"
      },
      "PostAuthorWithState": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "nickname": {
            "type": "string"
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "isBlocked": {
            "type": "boolean"
          },
          "isMuted": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "nickname",
          "avatarUrl",
          "isBlocked",
          "isMuted"
        ],
        "description": "トップレベル投稿者・コメント投稿者の情報（閲覧者視点の Block/Mute 状態付き）。quotePost / repostPost のネスト著者には適用されない。isBlocked/isMuted はゲスト・未ブロック・未ミュートの場合は false。"
      },
      "FeedResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "userId": {
                  "type": "string"
                },
                "user": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "nickname": {
                      "type": "string"
                    },
                    "avatarUrl": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "isBlocked": {
                      "type": "boolean"
                    },
                    "isMuted": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "nickname",
                    "avatarUrl",
                    "isBlocked",
                    "isMuted"
                  ]
                },
                "media": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "sortOrder": {
                        "type": "integer"
                      }
                    },
                    "required": [
                      "id",
                      "url",
                      "type",
                      "sortOrder"
                    ]
                  }
                },
                "genres": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "category": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "category"
                    ]
                  }
                },
                "likeCount": {
                  "type": "integer"
                },
                "commentCount": {
                  "type": "integer"
                },
                "repostCount": {
                  "type": "integer"
                },
                "isLiked": {
                  "type": "boolean"
                },
                "isBookmarked": {
                  "type": "boolean"
                },
                "isReposted": {
                  "type": "boolean"
                },
                "quotePost": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "nickname": {
                          "type": "string"
                        },
                        "avatarUrl": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "nickname",
                        "avatarUrl"
                      ]
                    },
                    "media": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "sortOrder": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "id",
                          "url",
                          "type",
                          "sortOrder"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "content",
                    "user"
                  ]
                },
                "repostPost": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "nickname": {
                          "type": "string"
                        },
                        "avatarUrl": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "nickname",
                        "avatarUrl"
                      ]
                    },
                    "media": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "sortOrder": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "id",
                          "url",
                          "type",
                          "sortOrder"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "content",
                    "user"
                  ]
                },
                "poll": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "postId": {
                      "type": "string"
                    },
                    "duration": {
                      "type": "integer"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "options": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "pollId": {
                            "type": "string"
                          },
                          "text": {
                            "type": "string"
                          },
                          "sortOrder": {
                            "type": "integer"
                          },
                          "_count": {
                            "type": "object",
                            "properties": {
                              "votes": {
                                "type": "integer"
                              }
                            },
                            "required": [
                              "votes"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "pollId",
                          "text",
                          "sortOrder",
                          "_count"
                        ]
                      }
                    },
                    "votes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "pollId": {
                            "type": "string"
                          },
                          "optionId": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "pollId",
                          "optionId",
                          "userId",
                          "createdAt"
                        ]
                      }
                    },
                    "_count": {
                      "type": "object",
                      "properties": {
                        "votes": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "votes"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "postId",
                    "duration",
                    "expiresAt",
                    "createdAt",
                    "options",
                    "_count"
                  ]
                },
                "mentionedUsers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "nickname": {
                        "type": "string"
                      },
                      "avatarUrl": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "nickname",
                      "avatarUrl"
                    ]
                  }
                }
              },
              "required": [
                "id",
                "content",
                "createdAt",
                "updatedAt",
                "userId",
                "user",
                "media",
                "genres",
                "likeCount",
                "commentCount",
                "repostCount",
                "isLiked",
                "isBookmarked",
                "isReposted",
                "quotePost",
                "repostPost",
                "poll",
                "mentionedUsers"
              ]
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          },
          "isGuest": {
            "type": "boolean"
          }
        },
        "required": [
          "items",
          "nextCursor",
          "isGuest"
        ],
        "description": "タイムライン取得レスポンス。各投稿に mentionedUsers が含まれる。"
      },
      "PostResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "userId": {
            "type": "string"
          },
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "nickname": {
                "type": "string"
              },
              "avatarUrl": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "isBlocked": {
                "type": "boolean"
              },
              "isMuted": {
                "type": "boolean"
              }
            },
            "required": [
              "id",
              "nickname",
              "avatarUrl",
              "isBlocked",
              "isMuted"
            ]
          },
          "media": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "sortOrder": {
                  "type": "integer"
                }
              },
              "required": [
                "id",
                "url",
                "type",
                "sortOrder"
              ]
            }
          },
          "genres": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "category": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "name",
                "category"
              ]
            }
          },
          "likeCount": {
            "type": "integer"
          },
          "commentCount": {
            "type": "integer"
          },
          "repostCount": {
            "type": "integer"
          },
          "isLiked": {
            "type": "boolean"
          },
          "isBookmarked": {
            "type": "boolean"
          },
          "isReposted": {
            "type": "boolean"
          },
          "quotePost": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "content": {
                "type": "string"
              },
              "user": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "nickname": {
                    "type": "string"
                  },
                  "avatarUrl": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "id",
                  "nickname",
                  "avatarUrl"
                ]
              },
              "media": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "sortOrder": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "id",
                    "url",
                    "type",
                    "sortOrder"
                  ]
                }
              }
            },
            "required": [
              "id",
              "content",
              "user"
            ]
          },
          "repostPost": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "content": {
                "type": "string"
              },
              "user": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "nickname": {
                    "type": "string"
                  },
                  "avatarUrl": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "id",
                  "nickname",
                  "avatarUrl"
                ]
              },
              "media": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "sortOrder": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "id",
                    "url",
                    "type",
                    "sortOrder"
                  ]
                }
              }
            },
            "required": [
              "id",
              "content",
              "user"
            ]
          },
          "poll": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "postId": {
                "type": "string"
              },
              "duration": {
                "type": "integer"
              },
              "expiresAt": {
                "type": "string",
                "format": "date-time"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "options": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "pollId": {
                      "type": "string"
                    },
                    "text": {
                      "type": "string"
                    },
                    "sortOrder": {
                      "type": "integer"
                    },
                    "_count": {
                      "type": "object",
                      "properties": {
                        "votes": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "votes"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "pollId",
                    "text",
                    "sortOrder",
                    "_count"
                  ]
                }
              },
              "votes": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "pollId": {
                      "type": "string"
                    },
                    "optionId": {
                      "type": "string"
                    },
                    "userId": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "pollId",
                    "optionId",
                    "userId",
                    "createdAt"
                  ]
                }
              },
              "_count": {
                "type": "object",
                "properties": {
                  "votes": {
                    "type": "integer"
                  }
                },
                "required": [
                  "votes"
                ]
              }
            },
            "required": [
              "id",
              "postId",
              "duration",
              "expiresAt",
              "createdAt",
              "options",
              "_count"
            ]
          },
          "mentionedUsers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "nickname": {
                  "type": "string"
                },
                "avatarUrl": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "id",
                "nickname",
                "avatarUrl"
              ]
            }
          }
        },
        "required": [
          "id",
          "content",
          "createdAt",
          "updatedAt",
          "userId",
          "user",
          "media",
          "genres",
          "likeCount",
          "commentCount",
          "repostCount",
          "isLiked",
          "isBookmarked",
          "isReposted",
          "quotePost",
          "repostPost",
          "poll",
          "mentionedUsers"
        ],
        "description": "単一投稿の詳細レスポンス。mentionedUsers が含まれる。"
      },
      "CommentsListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "postId": {
                  "type": "string"
                },
                "userId": {
                  "type": "string"
                },
                "parentId": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "content": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "isDeleted": {
                  "type": "boolean"
                },
                "isBlockedUser": {
                  "type": "boolean"
                },
                "likeCount": {
                  "type": "integer"
                },
                "replyCount": {
                  "type": "integer"
                },
                "isLiked": {
                  "type": "boolean"
                },
                "user": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "nickname": {
                      "type": "string"
                    },
                    "avatarUrl": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "isBlocked": {
                      "type": "boolean"
                    },
                    "isMuted": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "nickname",
                    "avatarUrl",
                    "isBlocked",
                    "isMuted"
                  ]
                },
                "media": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "sortOrder": {
                        "type": "integer"
                      }
                    },
                    "required": [
                      "id",
                      "url",
                      "type",
                      "sortOrder"
                    ]
                  }
                },
                "mentionedUsers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "nickname": {
                        "type": "string"
                      },
                      "avatarUrl": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "nickname",
                      "avatarUrl"
                    ]
                  }
                }
              },
              "required": [
                "id",
                "postId",
                "userId",
                "parentId",
                "content",
                "createdAt",
                "updatedAt",
                "isDeleted",
                "isBlockedUser",
                "likeCount",
                "replyCount",
                "isLiked",
                "user",
                "media",
                "mentionedUsers"
              ]
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "items",
          "nextCursor"
        ],
        "description": "コメント一覧取得レスポンス。"
      },
      "UserCommentItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "post": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "content": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "id",
              "content"
            ]
          }
        },
        "required": [
          "id",
          "content",
          "createdAt",
          "post"
        ],
        "description": "ユーザーのコメント一覧の 1 件（id, content, createdAt, post）。post は { id, content } のみ（Post に slug/title は存在しないため）。Native は post.id で GET /api/v1/posts/{id} を叩いて遷移する。"
      },
      "UserCommentsListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "post": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "content": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "content"
                  ]
                }
              },
              "required": [
                "id",
                "content",
                "createdAt",
                "post"
              ]
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "items",
          "nextCursor"
        ],
        "description": "GET /api/v1/users/{id}/comments 成功レスポンス。createdAt DESC 順。"
      },
      "UserProfileResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "nickname": {
            "type": "string"
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "headerUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "bio": {
            "type": [
              "string",
              "null"
            ]
          },
          "location": {
            "type": [
              "string",
              "null"
            ]
          },
          "isPublic": {
            "type": "boolean"
          },
          "bonsaiStartYear": {
            "type": [
              "integer",
              "null"
            ]
          },
          "bonsaiStartMonth": {
            "type": [
              "integer",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "postsCount": {
            "type": "integer"
          },
          "followersCount": {
            "type": "integer"
          },
          "followingCount": {
            "type": "integer"
          },
          "following": {
            "type": "boolean"
          },
          "requested": {
            "type": "boolean"
          },
          "isSelf": {
            "type": "boolean"
          },
          "isBlocked": {
            "type": "boolean"
          },
          "isMuted": {
            "type": "boolean"
          },
          "isPremium": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "nickname",
          "avatarUrl",
          "headerUrl",
          "bio",
          "location",
          "isPublic",
          "bonsaiStartYear",
          "bonsaiStartMonth",
          "createdAt",
          "updatedAt",
          "postsCount",
          "followersCount",
          "followingCount",
          "following",
          "requested",
          "isSelf",
          "isBlocked",
          "isMuted",
          "isPremium"
        ],
        "description": "ユーザープロフィール取得レスポンス。"
      },
      "SearchPostsResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "userId": {
                  "type": "string"
                },
                "user": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "nickname": {
                      "type": "string"
                    },
                    "avatarUrl": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "isBlocked": {
                      "type": "boolean"
                    },
                    "isMuted": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "nickname",
                    "avatarUrl",
                    "isBlocked",
                    "isMuted"
                  ]
                },
                "media": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "sortOrder": {
                        "type": "integer"
                      }
                    },
                    "required": [
                      "id",
                      "url",
                      "type",
                      "sortOrder"
                    ]
                  }
                },
                "genres": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "category": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "category"
                    ]
                  }
                },
                "likeCount": {
                  "type": "integer"
                },
                "commentCount": {
                  "type": "integer"
                },
                "repostCount": {
                  "type": "integer"
                },
                "isLiked": {
                  "type": "boolean"
                },
                "isBookmarked": {
                  "type": "boolean"
                },
                "isReposted": {
                  "type": "boolean"
                },
                "quotePost": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "nickname": {
                          "type": "string"
                        },
                        "avatarUrl": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "nickname",
                        "avatarUrl"
                      ]
                    },
                    "media": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "sortOrder": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "id",
                          "url",
                          "type",
                          "sortOrder"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "content",
                    "user"
                  ]
                },
                "repostPost": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "nickname": {
                          "type": "string"
                        },
                        "avatarUrl": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "nickname",
                        "avatarUrl"
                      ]
                    },
                    "media": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "sortOrder": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "id",
                          "url",
                          "type",
                          "sortOrder"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "content",
                    "user"
                  ]
                },
                "poll": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "postId": {
                      "type": "string"
                    },
                    "duration": {
                      "type": "integer"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "options": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "pollId": {
                            "type": "string"
                          },
                          "text": {
                            "type": "string"
                          },
                          "sortOrder": {
                            "type": "integer"
                          },
                          "_count": {
                            "type": "object",
                            "properties": {
                              "votes": {
                                "type": "integer"
                              }
                            },
                            "required": [
                              "votes"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "pollId",
                          "text",
                          "sortOrder",
                          "_count"
                        ]
                      }
                    },
                    "votes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "pollId": {
                            "type": "string"
                          },
                          "optionId": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "pollId",
                          "optionId",
                          "userId",
                          "createdAt"
                        ]
                      }
                    },
                    "_count": {
                      "type": "object",
                      "properties": {
                        "votes": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "votes"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "postId",
                    "duration",
                    "expiresAt",
                    "createdAt",
                    "options",
                    "_count"
                  ]
                },
                "mentionedUsers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "nickname": {
                        "type": "string"
                      },
                      "avatarUrl": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "nickname",
                      "avatarUrl"
                    ]
                  }
                }
              },
              "required": [
                "id",
                "content",
                "createdAt",
                "updatedAt",
                "userId",
                "user",
                "media",
                "genres",
                "likeCount",
                "commentCount",
                "repostCount",
                "isLiked",
                "isBookmarked",
                "isReposted",
                "quotePost",
                "repostPost",
                "poll",
                "mentionedUsers"
              ]
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "items",
          "nextCursor"
        ],
        "description": "投稿検索結果レスポンス。"
      },
      "SearchUsersResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "nickname": {
                  "type": "string"
                },
                "avatarUrl": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "bio": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "followersCount": {
                  "type": "integer"
                },
                "followingCount": {
                  "type": "integer"
                },
                "following": {
                  "type": "boolean"
                },
[...]
